[2018-07-02 09:54] czgtest opened #3 "The command “iotedgehubdev singlemoduletest” not work when use Python 2.7.14"
OS : Windows10
Python version:2.7.14
Docker version:17.12.0-rc-win47

The command “iotedgehubdev singlemoduletest”  not work.
![image](https://user-images.githubusercontent.com/35018765/42157681-f394620a-7e20-11e8-88ac-7164aeba824a.png)

[2018-07-03 02:50] adashen opened #4 "--inputName is not work in singlemoduletest"

[2018-07-03 04:13] czgtest opened #5 "Installation failure with Python 3.7"
OS : Windows10
Python version:3.7.0
Docker version:17.12.0-rc-win47 * Windows Container

run "pip install -e ." failed on Python 3.7.0
![image](https://user-images.githubusercontent.com/35018765/42198410-701eb23c-7eba-11e8-9fbd-3edc6d94ace7.png)

![image](https://user-images.githubusercontent.com/35018765/42198416-786c9288-7eba-11e8-8115-0a4731cbf228.png)

[2018-07-03 08:11] LazarusX opened #6 "Fail fast during setup when user inputs IoT Hub connection string instead of device connection string"

[2018-07-06 04:30] #4 closed, assigned to nobody

[2018-07-06 04:33] adashen opened #9 "clean test output folder in pytest clean"

[2018-07-10 01:49] adashen opened #14 "change config/data path for mac/linux environment without sudo needed"

[2018-07-10 03:02] czgtest opened #16 "Get error when iotedgehubdev setup on python 2.7"
OS：Windows 10

Python: 2.7.14

Docker : 17.12.0-ce-win47 (15139) * Linux container

![image](https://user-images.githubusercontent.com/35018765/42486852-b1b6e11c-8430-11e8-8639-797c9afe4652.png)

[2018-07-10 07:57] adashen opened #19 "expose 5671 in docker compose"

[2018-07-11 08:43] LazarusX opened #22 "ERROR: Error: load_config() got an unexpected keyword argument 'config_dict'. when start in py27"
Worked around this with `docker==3.0.0`

[2018-07-11 09:30] LazarusX opened #23 "ERROR: Error: Error while fetching server API version: (2, 'WaitNamedPipe', 'The system cannot find the file specified.'). when start with Docker not running"
We should provide a better error message.

[2018-07-11 09:42] adashen opened #24 "remove containers in stop command"

[2018-07-11 09:43] #16 closed, assigned to czgtest

[2018-07-12 02:52] LazarusX opened #26 "Version does not show correctly after publishing to PyPi test"
It shows 0.1.0rc0 which I suppose is the default value provided by Click, instead of 0.1.0-rc1 I specify.

[2018-07-12 02:55] LazarusX opened #27 "Add description for PyPi page"
Currently there is only placeholder: https://test.pypi.org/project/iotedgehubdev/

[2018-07-12 04:50] adashen opened #29 "Add Readme"

[2018-07-12 04:56] #24 closed, assigned to adashen

[2018-07-12 06:26] w12379564 opened #30 "Access is denied error when debug C# module on Mac"
[code]

[2018-07-12 10:10] #23 closed, assigned to nobody

[2018-07-13 02:05] #19 closed, assigned to nobody

[2018-07-13 09:29] czgtest opened #34 "The system cannot find the path specified: u''. when run "iotedgehubdev modulecred -o output.txt""
![image](https://user-images.githubusercontent.com/35018765/42684300-3d64450e-86c2-11e8-8421-b5a3b2697547.png)

[2018-07-13 09:32] czgtest opened #35 "Permission denied issue when run iotedgehubdev command on Mac"
VSCs-Mac-mini:/ vsc$ iotedgehubdev setup -c 'HostName=v-czg-hub0710.azure-devices.net;DeviceId=iotedgemac;SharedAccessKey=XgltMM+bFr3/rj7aac+A0dJ1zokN2J1gPJrM3c9WtK8='
### ERROR: Error: [Errno 1] Operation not permitted: '/private/var/lib/iotedgehubdev/certs/edge-device-ca/private'

VSCs-Mac-mini:/ vsc$ iotedgehubdev modulecred
### ERROR: Error: [Errno 13] Permission denied: '/etc/iotedgehubdev/ed

[2018-07-13 09:35] czgtest opened #36 "Message does not show about the telemetry when use sudo to run command on Mac"
VSCs-Mac-mini:/ vsc$ sudo iotedgehubdev setup -c 'HostName=v-czg-hub0710.azure-devices.net;DeviceId=iotedgemac;SharedAccessKey=XgltMM+bFr3/rj7aac+A0dJ1zokN2J1gPJrM3c9WtK8='
Password:
Setup EdgeHub runtime successfully.

**Message does not show about the telemetry and will let user know how to disable it**

[2018-07-13 09:36] czgtest opened #37 "open page 404 : https://github.com/Azure/iot-edge-testing-utility/blob/master/swagger.json"
VSCs-Mac-mini:/ vsc$ sudo iotedgehubdev start -i input2
EdgeHub runtime has been started in single module mode.
Please run `iotedgehubdev modulecred` to get credential to connect your module.
And send message through:

        curl --header "Content-Type: application/json" --request POST --data '{"inputName": "input2","data":"hello world"}' http://localhost:53000/api/v1/messages

Please refer to *

[2018-07-16 03:30] #29 closed, assigned to adashen

[2018-07-16 03:33] #3 closed, assigned to LazarusX

[2018-07-16 03:34] adashen opened #40 "Support windows container"

[2018-07-16 04:07] #6 closed, assigned to LazarusX

[2018-07-16 06:54] ghost opened #42 "iotedgehubdev installation path is not added to PATH"
I saw warnings said the installation path is not added to PATH.
Since all the iotedgehubdev operations in the test plan are executed through command line, we might need to consider add application location to PATH by default.

[2018-07-16 09:00] #34 closed, assigned to czgtest

[2018-07-16 09:06] #26 closed, assigned to LazarusX

[2018-07-16 09:10] #36 closed, assigned to czgtest

[2018-07-16 09:10] #37 closed, assigned to nobody

[2018-07-16 09:23] czgtest opened #44 "Error parsing connection string when iotedgehubdev setup"
Repro on Ubuntu

![image](https://user-images.githubusercontent.com/35018765/42751243-bd4a81b4-891c-11e8-88ac-c8541fac49c5.png)

Repro on Windows
![image](https://user-images.githubusercontent.com/35018765/42751314-f693f8ba-891c-11e8-9c18-478ee3a5f630.png)

[2018-07-16 09:39] #14 closed, assigned to LazarusX

[2018-07-17 02:55] #35 closed, assigned to czgtest

[2018-07-17 04:08] #44 closed, assigned to nobody

[2018-07-17 04:17] #27 closed, assigned to LazarusX

[2018-07-17 05:10] #22 closed, assigned to LazarusX

[2018-07-17 05:41] #42 closed, assigned to SLdragon

[2018-07-24 07:53] adashen opened #51 "sudo issues in iotedgehubdev"
1. Put deployment yml to a folder which could be read/write
2. Change edgehub.json to 644

[2018-07-25 05:10] adashen opened #52 "add more detail info in telemetry"

[2018-07-26 08:18] formulahendry opened #55 "[Routes issue] IoT Hub would receive message from both tempSensor and filterModule"
Routes;
![image](https://user-images.githubusercontent.com/1050213/43250199-636bb174-90ef-11e8-81d0-3f89a9b8bbdc.png)
Monitor D2C message:
![image](https://user-images.githubusercontent.com/1050213/43250230-74e110ca-90ef-11e8-907e-ae23d10268ae.png)

[2018-07-27 02:10] #52 closed, assigned to adashen

[2018-07-27 02:11] #51 closed, assigned to adashen

[2018-07-30 05:10] adashen opened #58 "[Test Plan] 0.2.0"
## Remove sudo requirement.

- Now iotedgehubdev could run without "sudo" on mac
- If on linux, follow https://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user to enable managing Docker as a non-root user

## Windows container support.
- Now iotedgehubdev could start modules in windows container

## Fix bugs

- https://github.com/Azure/iotedgehubdev/issues/52
- htt

[2018-07-31 05:20] czgtest opened #60 "iotedgehubdev setup command can’t run without “sudo” on mac/ubuntu"
![image](https://user-images.githubusercontent.com/35018765/43439180-8eaf833c-94c4-11e8-85ba-00114f4fd65a.png)

[2018-08-01 07:26] #55 closed, assigned to czgtest

[2018-08-01 09:29] czgtest opened #62 "[Windows container] debug csharp module failed"
repro on :
windows10
docker * windows container
Csharp local module testing

test case : Start edgehub for local module testing (csharp)
Run “Iotedgehubdev modulecred”
Copy the output env to the csharp launch debug configuration in vscode
Run “iotedgehubdev start -i <input name>”
Make sure it is successfully started and “curl” message shows up
In vscode F5 to start the debugger.
verify the error i

[2018-08-02 02:52] czgtest opened #63 "[Windows container]invalid mount config for type "volume""
Environment:
windows10
docker * windows container

Test case: Check create options for custom volume

Run “docker volume ls” to check if volume “testVolume” exist. If exist, remove it by “docker volume rm testVolume”.
Prepare a deployment manifest (VSCode has the functionality to generate deployment manifest)
Edit deployment.json, update modules.tempSensor.settings. createOptions as "createOptions

[2018-08-02 03:05] #63 closed, assigned to nobody

[2018-08-02 08:02] czgtest opened #64 "[Mac]debug locale Csharp module failed"
Enviroment:
Mac / ubuntu
Python2.7

test case : Start EdgeHub for local module testing (C#)
Run “Iotedgehubdev modulecred”
Copy the output env to the C# launch debug configuration in VS Code
Run “iotedgehubdev start -i <input name>”
Make sure it is successfully started and “curl” message shows up
In VS Code F5 to start the debugger.

![image](https://user-images.githubusercontent.com/35018765/4357

[2018-08-03 01:23] #64 closed, assigned to nobody

[2018-08-03 02:47] #60 closed, assigned to czgtest

[2018-08-03 08:42] #58 closed, assigned to czgtest

[2018-08-03 09:25] LazarusX opened #67 "Support running C and Python modules"
Rely on Azure IoT SDK's support: https://github.com/Azure/azure-iot-sdk-python/issues/150

[2018-08-07 06:34] LazarusX opened #69 "Provide more friendly information when starting if the user has not setup"
From https://github.com/Azure/iotedgedev/pull/233#issuecomment-410917902

[2018-08-08 06:40] czgtest opened #70 "do we need to delete the edgehub.json when uninstall iotedgehubdev"
OS: windows10

steps:
1. pip install iotedgehubdev

2. Iotedgehubdev setup –c "HostName=v-czghub0706.azure-devices.net;DeviceId=windowstest;SharedAccessKey=jcYNgGqzJ5mG1+NqBQIysO3y0Egjde2OueayM4UxQig="

10 days later,  this v-czghub0706 iot hub is expired , then I  uninstall iotedgehubdev and upgrade again

3. pip uninstall iotedgehubdev

4.pip install --upgrade iotedgehubdev

5.open c# module sol

[2018-08-14 07:01] LazarusX opened #71 "Support the new env schema"
Example (from https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#stability-issues-on-resource-constrained-devices):

[code]

[2018-08-20 14:50] #71 closed, assigned to nobody

[2018-08-22 02:22] adashen opened #73 "Upgrade to 1.0.1 for edgehub"

[2018-08-27 11:57] LazarusX opened #75 "the JSON object must be str, not 'bytes' when starting"
On Raspberry Pi with Python 3.5, `iotedgedev start -d` failed with `Error: the JSON object must be str, not 'bytes'`.

[2018-08-28 02:29] #75 closed, assigned to nobody

[2018-08-31 05:29] LazarusX opened #77 "Set up automated release pipeline"

[2018-09-10 01:53] czgtest opened #79 "The specified SAS token has an invalid signature on Pi/Ubuntu/windows10"
1.  sudo iotedgehubdev setup -c "HostName=abc1234.azure-devices.net;DeviceId=pidevice;SharedAccessKey=OVPoprAvcD92NV0ogtNQMv44Kw/zyY18D14yoL8VGb4="

2. iotedgehubdev start -d deployment0910.json

3. docker logs -f edgeHubDev

![image](https://user-images.githubusercontent.com/35018765/45272312-181c1380-b4df-11e8-8a43-f6b109699452.png)

[2018-09-10 08:08] czgtest opened #82 "local debug failed for csharp module on Mac"

[2018-09-11 07:11] LazarusX commented on #75
I cannot reproduce this issue on my side.

Looks like you didn't reinstall after activating the virtual environment with `pip install -U iotedgehubdev`. Please help try again.

[2018-09-11 14:34] LazarusX commented on #5
Just verified that installation succeeded with Python 3.7.

[2018-09-11 14:34] #5 closed

[2018-09-21 05:42] LazarusX commented on #73
Fixed by https://github.com/Azure/iotedgehubdev/pull/74.

[2018-09-21 05:42] #73 closed

[2018-09-21 05:44] LazarusX commented on #40
Close in favor of https://github.com/Azure/iotedgehubdev/issues/62.

[2018-09-21 05:44] #40 closed

[2018-09-27 08:38] czgtest opened #87 "Error: 'environment' when iotedgehubdev start -d"
step:
1. For the edge hub set an environment variable OptimizeForPerformance to false in the deployment manifest:

"edgeHub": {
            "type": "docker",
            "status": "running",
            "restartPolicy": "always",
            "settings": {
              "image": "mcr.microsoft.com/azureiotedge-hub:1.0",
              "createOptions": "{\"HostConfig\":{\"PortBindings\":{\"5671/tcp\"

[2018-10-10 06:57] #87 closed

[2018-10-10 17:39] ytechie opened #91 "ERROR: Error: dump_privatekey() takes no keyword arguments"
Running the setup command results in the error:
ERROR: Error: dump_privatekey() takes no keyword arguments

This is using the right click in VSCode or creating the command line manually:
sudo iotedgehubdev setup -c "{iot edge connection string}"

I'm running MacOS Mojave.

[2018-10-10 18:44] ytechie commented on #91
The fix was to run:
`python3 -m pip install iotedgehubdev`

That made the script run as Python3. For whatever reason, on MacOS, it fails by default.

[2018-10-11 03:03] LazarusX commented on #91
Thanks for reporting.

What's the result of `pip list` and `pip3 list` respectively?

[2018-10-11 14:59] ytechie commented on #91
Here you go. Notice that `pip list` shows iotedgehubdev v 0.2.0, I had tried downgrading it to fix the issue. I had initially tested with 0.3.0.

[pip3list.txt](https://github.com/Azure/iotedgehubdev/files/2469442/pip3list.txt)
[piplist.txt](https://github.com/Azure/iotedgehubdev/files/2469443/piplist.txt)

[2018-10-11 15:46] LazarusX commented on #91
In your Python 2 environment, you have pyOpenSSL 0.13.1, which is pretty old. Can you try if `pip install --upgrade pyOpenSSL` fixes your issue?

If so, we will explicitly specify a minimum version for pyOpenSSL in future releases.

[2018-10-11 17:10] ytechie commented on #91
That failed. Please note that I'm not a Python developer, so this is all a bit confusing to me. If pyOpenSSL is out of date, that is going to be the case on your typical Mac and not unique to me.

[code]

[2018-10-15 04:54] czgtest opened #95 "Error getting device scope result from IoTHub, HttpStatusCode: Unauthorized"
step:
1. iotedgehubdev setup -c "HostName=czghub.azure-devices.net;DeviceId=edge1015;SharedAccessKey=fb/Cf4ays3CUZS0B/1I1/eHH7D10UsnimC7IaNYpgFU="

2.iotedgehubdev start -d deployment.json

3. see edgeHubDev logs

[code]

[2018-10-23 07:28] adashen commented on #82
duplicate with #30

[2018-10-23 07:28] #82 closed

[2018-10-23 07:29] adashen commented on #79
@czgtest is it still reproducible on the new version after fixing the auth error?

[2018-10-29 07:56] adashen opened #98 "Cannot bind volume with "binds" type."
https://github.com/Azure/iotedge/issues/337#issuecomment-433806961
It seems in the docker compose we only support volume mapping as  "volume" type. instead of "bind" type. Need to support this.

[2018-10-30 04:48] LazarusX commented on #9
Implemented by #99

[2018-10-30 04:48] #9 closed

[2018-10-30 04:59] WilliamBerryiii opened #100 "Edge Hub Dev stops functioning after processing only a few messages"
I've encountered an issue where edge hub dev stops processing messages after only a few +200K sized messages. It appears to be related to module re-authentication.

I have deleted the original edge device in the portal, and recreated a new device and the problem persists. Also tried both AMQP and MQTT protocols. Error message appears to perhaps indicate an auth failure from the edge sim to IoT Hub

[2018-10-30 12:48] buzzfrog opened #101 "When to use --remove-orphans flag"
When I run the follow command:
[code]
It is unclear when I really can use the flag --remove-orphans

[2018-10-31 02:37] LazarusX commented on #100
Thanks for reporting this issue.

Can you reproduce this issue with the Edge runtime?

[2018-10-31 02:44] LazarusX commented on #101
This message is the output of docker-compose command which the `iotedgehubdev stop` command calls internally. Currently, we won't pass the `--remove-orphans` flag yet to docker-compose. You can manually do it with `docker-compose -f C:\ProgramData\iotedgehubdev\data\data\docker-compose.yml down --remove-orphans`. On the other hand, this is just a warning (see https://github.com/docker/compose/issu

[2018-10-31 02:58] LazarusX opened #102 "`iotedgehubdev start` stuck at `Started HTTP head` with Windows container"
Version: 0.5.0rc1

[code]

[2018-10-31 03:05] czgtest opened #103 "iotedgehubdev start -d failed for large createOptions on Mac"
(py37) VSCs-Mac-mini:iotedgehubdevtest vsc$ sudo iotedgehubdev start -d "/Users/vsc/Documents/ChenTest/1030/EdgeSolutionCsharp/config/deployment.json" -v
Network azure-iot-edge-dev is external, skipping
ERROR: Error: the JSON object must be str, bytes or bytearray, not dict

sudo `which iotedgehubdev` start -d "/Users/vsc/Documents/ChenTest/1030/EdgeSolutionCsharp/config/deployment.json" -v

VSCs-

[2018-10-31 03:49] czgtest commented on #103
the format of deployment is not right, The createOptions json object is not stringfied

[2018-10-31 03:49] #103 closed

[2018-10-31 09:19] LazarusX commented on #95
Fixed in https://github.com/Azure/iotedgehubdev/pull/96/files

[2018-10-31 09:19] #95 closed

[2018-10-31 09:33] LazarusX commented on #100
This issue has been fixed in #96, and shipped with 0.5.0 release today. Please `pip install --upgrade iotedgehubdev` and try if the new version works for you.

[2018-11-02 03:21] LazarusX opened #105 "Allow users to specify custom EdgeHub image and options when single mode"

[2018-11-02 05:03] LazarusX commented on #102
Cannot reproduce this issue after restart Docker.

[2018-11-03 18:34] WilliamBerryiii opened #106 "Multiple connections detected for device {name/module} causing lost ACKs"
This may be related to issue #100 ... but it appears that the simulator Edge Hub is having issues is having troubles with multiple module routes. The configuration for the edge runtime routing is as follows given modules A, B, C:

A.Output1 -> B.Input1
B.Output1 -> C.Input1
C.Output2 -> A.Input2 (these are flow control messages that happen only very occasionally)

[code]

[2018-11-03 18:36] WilliamBerryiii commented on #100
@LazarusX - looks like the fix worked, however a new issue has cropped up in case #106

[2018-11-03 20:35] WilliamBerryiii commented on #106
On further investigation, the first message from C module back to A module is received and ack'ed correctly, however all subsequent calls fails.

[2018-11-05 05:38] adashen opened #115 "Parse and login registryCredentials"
Seems registryCredentials in deployment manifest is not passed and logged. So if user need the credential to run module, it fails

[2018-11-05 05:42] adashen commented on #106
Hi @WilliamBerryiii , from the log it seems edge/WebAppModule has opened multiple connections. Can you make sure there is no other instance of this module open?

[2018-11-05 16:29] WilliamBerryiii commented on #106
That's what the error suggests, however this was a clean restart of the simulator ... all containers removed and brought back up from scratch.

[2018-11-06 08:42] LazarusX commented on #77
The expected workflow:
1. CI is triggered by a git push
1. Checks if the branch is a tag
1. If 2. is true, run `python setup.py bdist_wheel`
1. Check if the tag is for production (vX.X.X)
    1. If it is a production tag, replace the AI key in __init__.py with the production AI key, run `twine` commands to upload to PyPi
    1. If it is not a production tag, use `twine` command to upload to pypite

[2018-11-07 07:41] adashen commented on #106
@WilliamBerryiii I cannot reproduce the "Multiple connection detected" issue. Besides, if you could stable reproduce the multiple connection issue. Could you also retest it on real edge environment?

[2018-11-07 19:20] WilliamBerryiii commented on #106
Ok, I'll put together a clean repro and add it to the case in a day or so.

[2018-11-08 07:32] buzzfrog opened #124 "can't get iotedgehubdev to work in a restricted environment where port 8883, 5671 is blocked"
I'm working with a industrial customer that have problem using this command. I thought that if these ports was not available, then it will try websockets. I have tried to set the UpstreamProtocol, but that doesn't help.

Here is the beginning of the log file:
[code]

[2018-11-09 02:58] adashen commented on #124
@buzzfrog several questions
1. Can you use the latest iotedgehubdev to try again?
pip install --upgrade iotedgehubdev
From the log, it seems you are using the previous version and the warning has been fixed in the latest version. (0.5.0)

2. As you mentioned the port 8883, 5671 is blocked. Actually if your leaf device doesn't use these port to talk to edgeHubDev, you can just don't expose these po

[2018-11-09 08:57] chris-to-pher opened #125 "500 Internal Server Error"
After running `iotedgehubdev start -d "c:\...\config\deployment.json" -v`, I am seeing this error:

`ERROR: Error: Error while checking status for: cert_helper : 500 Server Error: Internal Server Error ("readlink /var/lib/docker/overlay2/l: invalid argument")`

[2018-11-12 04:54] adashen commented on #125
@chris-to-pher , seems docker issue. ref https://github.com/docker/for-mac/issues/1396

[2018-11-12 08:25] buzzfrog opened #126 "Is really hello-world:latest the best image to pull?"
I see that you pull this image as a helper image from docker hub each time you do Build and Run in Simulator.
Isn't it better to pull a image that we have control over?
/dag

[2018-11-12 08:33] adashen commented on #126
@buzzfrog , Thanks for the comments. hello-world:latest is from docker official. And it is a very small image which we used to do some preparing stuff.
I will close the issue, since it is not an user experience issue. If you think this blocks your experience. Feel free to re open it.

[2018-11-12 08:33] #126 closed

[2018-11-12 17:25] dtjensen opened #128 "Authentication Error debugging in VS Code"
When I attempt to setup my local simulator environment, I start by right clicking on my edge device in Azure IoT Toolkit extension and Selecting "Setup IoT Edge Simulator".  I get the following error:
[code]

Note - I have followed these steps: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module.  Specifically, I have run the command to set the module credentials to user s

[2018-11-12 19:31] chris-to-pher commented on #125
Thanks for your feedback. This error is thrown on a Windows machine.

[2018-11-14 02:08] dtjensen commented on #128
I am aware why I got the error.  The error message is clear.  I am logging the error because the host name "iotedge-devtest.4d4p0pcxyg0unojsbvyrqks2zd.bx.internal.cloudapp.net" is the default value.  I did not set that value.  So, by default, it errors.  I also stated that when I use the "-l" option to set the hostname to "localhost", it resolves the issue.  So, I am only logging the fact that the

[2018-11-14 02:13] adashen commented on #128
Thanks @dtjensen , we will update the hostname validation rule in the next release.

[2018-11-15 08:11] adashen commented on #115
docker python lib has an issue on login link here for tracking https://github.com/docker/docker-py/issues/2157

[2018-11-20 22:37] czgtest opened #133 "not support Stream Analytics Module"
1.  create new solution for Stream Analytics Module,
[code]

[2018-11-30 11:36] LazarusX commented on #77
Implemented in https://github.com/Azure/iotedgehubdev/pull/131

[2018-11-30 11:36] #77 closed

[2018-12-03 05:07] LazarusX commented on #125
Looks like an issue with Docker. Closing.

[2018-12-03 05:07] #125 closed

[2018-12-05 06:44] LazarusX commented on #98
@NoExitTV, iotedgehubdev 0.6.0 was just released with support for `Binds`. Please have a try and let us know if you find any issues. Thanks.

[2018-12-05 06:45] LazarusX commented on #115
Released in 0.6.0

[2018-12-05 06:45] #115 closed

[2018-12-05 06:46] LazarusX commented on #128
@dtjensen The hostname issue was fixed in the latest version. Please `pip install --upgrade iotedgehubdev` and try if it works for you now.

[2018-12-05 06:46] #128 closed

[2018-12-10 08:39] #79 closed

[2018-12-12 04:15] czgtest opened #142 "Start an IoT Edge solution in simulator failed when edge device named "edgeDeviceC#""
1. create an edge device  :  edgeDeviceC#
2. setup IoT edge simulator
3. run IoT edge solution in simulator

get error:
[code]

Device connection string: `HostName=anotheriothub.azure-devices.net;DeviceId=edgeDeviceC#;SharedAccessKey=<redacted by Ray>`

[2018-12-16 17:05] fbeltrao opened #143 "Device impersonation does not send event to IoT Hub"
In a module that impersonates leaf devices, sending device to cloud messages does not seem to work. All other operations seem to work (get twin, update twin, c2d messages).

See the sample module located at: https://github.com/fbeltrao/Samples/tree/master/IoTEdgeHubDevD2C/iotedgehubdevd2c

What the sample module does:

- While true
  - Creates a `DeviceClient` connection, gets twin, updates twin,

[2018-12-24 02:11] adashen commented on #142
@czgtest  Please try to use the device connection string for edge runtime. And deploy to that device, to check whether the id could work for edge runtime.

[2018-12-24 02:13] adashen commented on #133
@czgtest we need device twin setup for ASA module right? Please send the device twin content to the module through toolkit and try again?

[2019-01-03 06:31] adashen opened #146 "Include docker-compose dependency"
Add docker-compose as dependency into requirement.txt. To remove the need for docker-compose on linux

[2019-01-03 06:32] adashen opened #147 "Support docker_uri configuration to connect other docker daemon"
Currently, moby is packaged in the edgeruntime for windows mode. Shall we support to used the packaged  moby in simulator?

[2019-01-03 07:15] fbeltrao commented on #143
@adashen thanks, that was the problem.
Using this deployment json file worked for me:

[code]

Perhaps adding an example to the documenation using -d to start will be helpfull.

[2019-01-03 07:15] #143 closed

[2019-01-07 04:35] adashen opened #148 ""on-unhealthy" restart policy is not supported"
Sample deployment.template.json:
https://github.com/Azure/iotedge/blob/master/stress/deployment.template.json

"on-unhealthy" restart policy for influxdb will be treated as un-supported

[2019-01-08 02:43] czgtest opened #149 "[ubuntu 18.04] install iotedgehubdev must use sudo"
steps:
1.  pip install --upgrade iotedgehubdev
2.  iotedgehubdev --version
command not found
3. pip uninstall iotedgehubdev
4. sudo pip install --upgrade iotedgehubdev
5. iotedgehubdev --version
found version 0.6.0

[2019-01-08 02:52] adashen commented on #149
Currently we ask user install root on linux. Please refer to the https://github.com/Azure/iotedgehubdev#installing

By default python user path is not exposed in environment. So close the issue now since it is as designed.

[2019-01-08 02:52] #149 closed

[2019-01-10 16:12] BretStateham opened #150 ""ERROR: Error: Expecting value: line 1 column 1 (char 0)" error when running iotedgehubdev"
Hey all, I'm getting the following error when I try to use the iotedgehubdev simulator from VS Code (VS Code has nothing to do with it, same error happens if you just run it from the command line).  The error I'm getting is:

[code]

I know I've encountered this before and thought my fix was to (I'm running on Windows 10):

1. Run `pip uninstall iotedgehubdev`
2. Ensure that the the pip package fo

[2019-01-10 16:14] BretStateham commented on #150
I should add that I have verified the problem isn't with the deployment.json file I'm trying to use.  I've created a new empty (just edgeAgent and edgeHub modules) manifest in the portal and tested with that.  I get the same error.

[2019-01-11 02:11] adashen commented on #147
Solution: align with the docker client command behavior.
1. User could set DOCKER_HOST env to specify the docker daemon endpoint
2. Support docker host configuration when start/stop simulator

[2019-01-11 02:12] LazarusX commented on #150
Thanks for reporting this issue.

Could you help share below information?
- The command which caused this error
- The deployment.json which caused this error
- Python version
- iotedgehubdev version

[2019-01-11 14:21] Chubacca73 opened #151 "Assuemd proxy setting issue when running iotedgehubdev"
Following the guide "debug-in-attach-mode-with-iot-edge-simulator-c-nodejs-java-azure-functions" to setup a development encironemnt for IotEdge devices in Visual Studio Code the following error occures after clicking on deployment.debugtemplate.json and select "Build and Run IoTEdge in Simulator.

[code]
As the development environment is behind a corporate proxy we assume that the issue is related

[2019-01-12 01:16] fabinshen opened #152 "ModuleClient.GetTwinAsync doesn't return the device twin from the ioT hub"
It seems that: although we set device twin properties in azure portal, the properties was not returned by moduleClient.GetTwinAsync when running under iotedgehubdev simulator.

We want to store some configuration data in twin.desired properties. However, if we cannot get the real twin properties from the ioT hub under the iotedgehubdev simulator (where we debug our module), then it is not straight

[2019-01-14 02:51] LazarusX commented on #152
Hi @fabinshen, thanks for reporting this issue.

`ModuleClient` only supports twin properties at module level. For your requirement, you can set your configuration data in the module twin.

In VS Code, you can:
1. Click your device in the left bottom corner to expand the module list
1. Right click on the module which will consume the properties
1. Select "Edit Module Twin"
1. Edit the module twin

[2019-01-14 06:05] LazarusX commented on #148
@adashen Looks like the link above is 404 now.

[2019-01-14 06:59] LazarusX commented on #148
"on-healthy" restart policy is not yet supported by docker-compose (https://docs.docker.com/compose/compose-file/#restart_policy) and Docker engine (https://docs.docker.com/engine/api/v1.37/#operation/ContainerCreate)

[2019-01-14 16:09] dieterdp commented on #151
I have the same problem, i installed the lateste VSCode update and this problem started
ERROR: for edgeHubDev  Cannot start service edgeHubDev: driver failed programming external connectivity on endpoint edgeHubDev (ddbfab2553be625cb5cd58314367b7bdb5cb7ac407fbd66a4eff9fb006af88a2): Error starting userland proxy: mkdir /port/tcp:0.0.0.0:8883:tcp:172.21.0.2:8883: input/output error
ERROR: Encountere

[2019-01-14 16:15] dieterdp commented on #151
i did a restart of docker and everyhing was ok again.

[2019-01-14 18:25] fabinshen commented on #152
Thank you LazarusX! that resolves the issue.

[2019-01-14 18:25] #152 closed

[2019-01-15 02:05] adashen opened #155 "Support TLS configurations for docker"

[2019-01-15 07:19] LazarusX commented on #148
Partial support which falls back to "always" is added in https://github.com/Azure/iotedgehubdev/pull/154.

[2019-01-15 09:20] LazarusX opened #156 "Start in single module mode failed with a fresh machine"
[code]

[2019-01-15 09:22] #156 closed

[2019-01-16 02:37] LazarusX commented on #101
Close due to inactivity. Please reopen if the solution above does not work.

[2019-01-16 02:37] #101 closed

[2019-01-16 06:30] Chubacca73 commented on #151
Hi. Thank you for your feedback. Followed your advice. The behaviour remains similar as initially reported. Following for further suggestions. best regards!

[2019-01-16 07:30] adashen commented on #151
@Chubacca73 can you give more info about the language used in your solution and also the container os type? Currently there is an issue in edgeHub realted to proxy. https://github.com/Azure/iotedge/issues/688 and it may related to your scenario.

Besides, to configure the proxy. You need add http_proxy env for edgeHub in deployment manifest
"edgeHub": {
    "type": "docker",
    "settings": {

[2019-01-18 06:15] #69 closed

[2019-01-20 00:39] nelsonmorais commented on #30
Using iotedgehubdev version 0.6.0 I have the same issue, even after adding the **edge-device-ca.cert.pem** to the keychain. I don't see any environment variable named **EdgeModuleCACertificateFile**.

So the workaround provided did not work on my case. Any other options?

[2019-01-20 00:46] nelsonmorais opened #160 "VSCode on Mac does not detect iotedgehubdev version 0.6.0"
I've installed iotedgehubdev version 0.6.0 on a mac using **sudo pip install --upgrade iotedgehubdev** but VSCode still doesn't detect that **iotedgehubdev** is installed and keeps saying to install it.

[2019-01-21 01:49] LazarusX commented on #160
Hi @nelsonmorais, thanks for reporting this issue!

Could you share output of `which iotedgehubdev` and `which python`?

[2019-01-21 20:17] nelsonmorais commented on #160
Sure! Here it is:

[code]

[2019-01-22 08:47] adashen commented on #30
@nelsonmorais , The work around steps are used to local debug the CSharp module on mac. If you are using vscode iot edge extension in VSCode. The step could be the follows
1. Start IoT Edge Simulator for Single Module
2. in .vscode/launch.json, remove the env "EdgeModuleCACertificateFile" in your CSharp module project launch mode debug setting.
3. Add the edge-device-ca.cert.pem into your keychain

[2019-01-23 01:22] czgtest opened #164 "“azure iot edge” words display incorrect in vscode when start -d deployment"
![image](https://user-images.githubusercontent.com/35018765/51575943-39f6bf80-1eef-11e9-81d6-c8c18e27310a.png)

expected:
![image](https://user-images.githubusercontent.com/35018765/51575961-48dd7200-1eef-11e9-8d58-c6b582ad0a70.png)

[2019-01-23 03:04] czgtest opened #165 "iotedgehubdev start -H work error: environment can only contain strings"
repro on 0.7.0-rc

[code]

![image](https://user-images.githubusercontent.com/35018765/51580132-5c440980-1efe-11e9-98e6-332f93420ea8.png)

[2019-01-23 08:49] LazarusX commented on #160
Thanks @nelsonmorais.

What's the output of `iotedgehubdev --version` then? And is your Python shipped with macOS or installed via Homebrew?

[2019-01-23 13:59] nelsonmorais commented on #160
Hi @LazarusX,

Here's the info:

[code]

Note that ```python --version``` reports 2.7.10 but from Homebrew I have installed 3.x.
As far as I remember I did not install Python 2.7.10 so I'm assuming it was shipped with macOS.

[2019-01-23 16:03] nelsonmorais commented on #30
That worked, thanks!
Can you share if this is an issue that will be addressed soon on a next release, or this is a workaround that will stay for a longer period?

[2019-01-24 02:00] adashen commented on #30
@nelsonmorais Great to know it works! It's a workaround may stay for longer period, since the fix could not happen in this tool instead it needs CSharp SDK to support it.

[2019-01-24 02:56] LazarusX commented on #160
Did you run these commands in VS Code terminal? If not, could you help paste results from VS Code terminal?

[2019-01-24 15:02] nelsonmorais commented on #30
Hi @adashen ,

Thanks for the info.

[2019-01-25 14:57] nelsonmorais commented on #160
Yes, these were executed in the VSCode terminal.
As an extra info, in the VSCode terminal I can manually execute the iotedgehubdev CLI commands, but it would be better to just use them via VSCode and have the warning saying that iotedgehubdev is missing go away.

[2019-01-25 15:02] LazarusX commented on #160
Thanks. I asked just to make sure that the environment where our code checks whether iotedgehubdev is installed is the same as the one where you get the version information. I am still investigating this issue.

[2019-01-29 00:33] fabinshen opened #168 "Module twin set in deployment manifest was not set"
We wrote a deployment json file with some properties.desired in our modules, as {module1} below. We expected that the desired properties of {module1} will be populated into the module twin, for real deployment through azure IotHub, and local debug through iotedgehubdev simulator. However, we found that the desired properties of {module1} doesn't seem to be set in module twin when running the solut

[2019-01-29 03:02] adashen commented on #168
@fabinshen , Thanks for the issue！Module twin currently is not supported in iotedgehubdev. Since setting module twin needs IoT Hub connection string. However, in iotedgehubdev, we only get the device connection string. The work around is you could use the "iot hub toolkit" in visual studio code to set the module twin.

[2019-01-29 05:47] LazarusX commented on #155
Implemented by https://github.com/Azure/iotedgehubdev/pull/153

[2019-01-29 05:48] #146 closed

[2019-01-29 05:49] #164 closed

[2019-01-29 05:50] LazarusX commented on #164
A reboot fixed this issue.

[2019-01-30 05:18] LazarusX commented on #150
Hi @BretStateham, we just released iotedgehubdev 0.7.0 which will show more information if something's wrong with the setup  step. Please help upgrade, re-setup, and run. Let us know if it solves your issue.

[2019-01-30 17:57] BretStateham commented on #150
@LazarusX my apologies for missing your comments.  I created a new project and ran it from scratch with no issues so there MUST be something wrong with the source files in my initial project although I have yet to be able to figure out what that issue was.  I've just upgraded iotedgehubdev to v.0.7.0 .  I'll give it a try again and see if I can figure out what the issue was.

Regardless, even thou

[2019-01-31 01:50] nelsonmorais commented on #160
Hi @LazarusX, same issue after installing the new version.

[2019-01-31 02:13] LazarusX commented on #160
Thanks for the update. We'll keep investigating.

[2019-02-12 05:50] #168 closed

[2019-02-13 06:17] adashen commented on #165
@czgtest Please make sure whether this has been fixed. If so please help to close it.

[2019-02-13 06:18] adashen opened #170 "[Investigate] Check whether iotedgehubdev works with proxy"

[2019-02-13 06:19] #124 closed

[2019-02-14 04:53] LazarusX commented on #160
Hi @nelsonmorais, thanks for your patience.

Could you share output of `which iotedgehubdev` and `which python` in terminal *outside* VS Code?

In addition, do you have VS Code Python extension installed?

As a workaround, you should be able to use the iotedgehubdev integration in VS Code by downgrading the VS Code Edge extension to 1.7.0:
![image](https://user-images.githubusercontent.com/716650/

[2019-02-19 12:23] hubez opened #172 "Is it possible to configure Self-signed Edge Certs for transparent gateway scenario"
How (or is it possible) to set your own Edge Certs in iotdegehubdev for a gateway scenario? I assume it supports use of leaf devices as a transparent gateway from reading https://github.com/Azure/iotedgehubdev/issues/143

An example leaf device would be the the SimulatedDevice.py sample: https://github.com/Azure-Samples/azure-iot-samples-python/blob/master/iot-hub/Quickstarts/simulated-device/Simu

[2019-02-19 12:42] hubez commented on #172
Found my answer, I think. Would be useful to have a confirmation from someone in the know.

I found this file in iotedgehubdev that looks to be the cert generation for it: https://github.com/Azure/iotedgehubdev/blob/master/iotedgehubdev/edgecert.py where it references the Root CA location.

In my case on windows, if I have my leaf device use the file `C:\ProgramData\iotedgehubdev\data\certs\edge-d

[2019-02-19 12:42] #172 closed

[2019-02-20 01:20] adashen commented on #172
@hubez Yes, your are correct. Just copy the C:\ProgramData\iotedgehubdev\data\certs\edge-device-ca\cert\edge-device-ca-root-cert.pem to the leaf device. It will work.

[2019-02-20 09:16] eXXL commented on #30
Hi there,
I ran into the same issue while trying the howto. Where do I find the edge-device-ca.cert.pem and how do I add it to the keychain?

[2019-02-20 09:23] adashen commented on #30
@eXXL you could run "iotedgehubdev modulecred" to show the CA location. it is output as the value of "EdgeModuleCACertificateFile". As for how to add the certificate into keychain, you may refer to this link https://www.sslsupportdesk.com/how-to-import-a-certificate-into-mac-os/

[2019-02-20 09:39] eXXL commented on #30
Hi @adashen,
this helped me out and it worked!

Thank you,
Alex

[2019-02-22 07:49] adashen opened #174 "[Feature] Add command to generate edge cert"

[2019-02-22 13:22] alaendle commented on #151
Well as far as I get it the deplyoment manifest for the edgeHub is only used if the project is started via "Build and Run IoT Edge Solution in Simulator" where everything works as expected; but if the edgeHub is started via "Start IoT Edge Hub Simulator for Single Module" there is no way to inject the environment variables for https_proxy &  upstreamprotocol!?

[2019-02-22 14:36] AMCN41R opened #175 "IOTEDGE_DEVICEID and IOTEDGE_MODULEID environment variables are not set"
I am trying to access the device id from a C# module using `Environment.GetEnvironmentVariable("IOTEDGE_DEVICEID")` as descibed in the following issues...

[iotedge-issues-633](https://github.com/Azure/iotedge/issues/633)
[azure-iot-sdk-csharp-issues-515](https://github.com/Azure/azure-iot-sdk-csharp/issues/515)

However, these variables are never set when using the `iotedgehubdev` tool.

I am usi

[2019-02-24 14:36] LazarusX opened #176 "Invoke Docker Compose as a Python package instead of an executable"
The benefit is that we can control the version of invoked Docker Compose. Related discussion: https://github.com/docker/compose/issues/4542.

[2019-02-25 05:52] SLdragon opened #177 "Volumes in docker-compose file cannot use capital driver letters for windows container"
The generated dock-compose file contains volume cannnot use capital driver letter for windows container.

For example, if I use the capital "C:" for driver, then I cannot start the container:
![image](https://user-images.githubusercontent.com/5545529/53316851-5d54c600-3904-11e9-8116-27308f1d4a57.png)

The I will receive error messages below:
![image](https://user-images.githubusercontent.com/55455

[2019-02-26 18:54] theangellmethod opened #178 "VS Code Python virtualenv is ignored"
I have `iotedgehubdev` installed in a virtual environment in VS Code.  The virtual environment is set in `settings.json` and I have it activated in VS Code and the terminal.  When I try to run a command using the interface (Ex. right clicking on an Azure IoT Hub Device and selecting 'Setup IoT Edge Simulator'), one of two things happens:
Either:
1) `iotedgehubdev` opens a new "Azure IoT Edge" term

[2019-02-26 19:01] theangellmethod commented on #178
Moving to https://github.com/microsoft/vscode-azure-iot-edge because that seems like the more appropriate place for this issue.

[2019-02-26 19:01] #178 closed

[2019-02-28 04:21] hubez commented on #133
@adashen, @czgtest I am interested in device twin sending when using iotedgehubdev. Is there info on how I can trigger this? I too am looking for ASA support on iotedgehubdev.

[2019-02-28 04:44] hubez commented on #133
Nevermind, found my answer: https://github.com/Azure/iotedgehubdev/issues/152#issuecomment-453891392

[2019-02-28 04:59] hubez commented on #133
I've published via the VS Code IOT Hub Toolkit an appropriate device twin such that it triggers proper grabbing of the ASA job, but then it shuts down complaining:

 2019-02-28 04:57:04.116 +00:00 [INF] - Job billing id is invalid or is missing from container environment variable, shutting down...

Any workarounds?

[2019-02-28 05:12] adashen commented on #133
@hubez it seems related to the "The plan id is needed for billing purposes and without the plan id the Stream Analytics container does not operate correctly." Please refer to https://www.danielstechblog.io/stream-analytics-on-iot-edge-deployment-changes/ . You may need to add the "PlanId=REDACTED" in the create option for container environment

[2019-02-28 20:54] hubez commented on #133
@adashen Thanks, that link gave me my answer! ASA running successfully on iotedgehubdev now! Now I just wish there was a less brutal way to update it with updates to the ASA job during my dev-test loop.

[2019-03-01 07:33] LazarusX opened #179 "Update Azure DevOps Windows agent version to 1809"
...and reenable test cases for Windows such as https://github.com/Azure/iotedgehubdev/blob/3ec241a7ff862da6e23cb017ae64d25da7f6eb68/tests/test_cli.py#L458

[2019-03-01 07:35] LazarusX commented on #150
Close due to inactivity. Please reopen if you can still reproduce this issue.

[2019-03-01 07:35] #150 closed

[2019-03-01 07:51] LazarusX commented on #151
@alaendle thanks for the suggestion. Customizing edgeHub options when starting in single module is in our plan (https://github.com/Azure/iotedgehubdev/issues/105). Please stay tuned.

[2019-03-02 14:17] nelsonmorais commented on #160
Hi @LazarusX

Here's the info (this was already shared previously - see thread above):

[code]

I do have VS Code Python extension installed. Version is: 2019.2.5433

[2019-03-02 15:48] LazarusX commented on #160
Can you try if you can still reproduce this issue by quitting and relaunching VS Code via terminal with `code path/to/project/directory`?

[2019-03-02 19:45] nelsonmorais commented on #160
It seems to be working now!
Don't know exactly what has changed, but VSCode is now able to detect that iotedgehubdev is installed.

[2019-03-02 19:46] #160 closed

[2019-03-03 07:01] LazarusX commented on #160
Thanks @nelsonmorais for the update! Glad to know that the workaround worked for you. I just filed an issue for VS Code: https://github.com/Microsoft/vscode/issues/69728.

[2019-03-06 02:55] adashen commented on #175
@AMCN41R Thanks for reporting the issue. We are discussing with SDK team to decide whether there is an API for user to use. Since currently the ENV is just a workaround. We will take action after we figure out the official way. We will keep you updated when there is a decision.

[2019-03-06 08:34] adashen commented on #133
@hubez Thanks for the feedback. We would populate the PlanID env in VSCode Edge extension to avoid this manual step.

[2019-03-07 17:05] cicorias commented on #149
this should be re-opened. there really isn't a reason why any pip/python package can't run non-sudo and also be used in a python virtual env.

[2019-03-08 01:21] adashen commented on #149
@cicorias, actually, you could install iotedgehubdev without sudo, but needs make sure the user python script path is exposed. So the tool could be called in any terminal.

[2019-03-15 02:16] nonoxp opened #180 "iotedgehubdev won't start, error 400 ArgumentInvalid"
I don't know if this is correlated but since the VS2017 extension 0.3.1 was automatically applied I can't use the Debug feature anymore. I ensured my iotedgehubdev was version 0.7.0 and it just won't start, keep throwing me a code 400 error.

I tried to rollback to the previous version I had of the Extension for VS2017 (for which I was definitely using the debug feature a couple of weeks ago), but

[2019-03-15 03:19] erich-wang commented on #180
@nonoxp , it looks like VS could not find iotedgehubdev, I suspect somehow the path of iotedgehubdev is not added into system environment variable Path.
1. Have you restarted VS after installing iotedgehubdev?
2. If yes for 1, please try to run "iotedgehubdev start" from your cmd and share the output here.

[2019-03-15 07:25] nonoxp commented on #180
@erich-wang thanks for your suggestion, I overlooked it.

I have the following folder defined in my user's Path variable, this is where the iotedgehubdev.exe file is installed.
`C:\Users\[MyAccount]\apps\anaconda3\scripts`
But nothing of the sort defined in the System Path variable (adding it didn't change anything).

When launching directly from VS in the case of a single module debug, the comman

[2019-03-17 03:29] nonoxp commented on #180
After trying a lot of things on my environment I created a new IoT Hub instance.
I have no idea why but setting the simulator with a connection string related to this Iot Hub did the trick.
And I can now use iotedgehubdev as before.

[2019-03-17 03:29] #180 closed

[2019-03-19 02:36] erich-wang commented on #180
@nonoxp , you probably used normal device connect string instead of **edge** device connection string when getting the error.

[2019-03-21 05:27] HenrikBach1 opened #181 "Error: no such option: --file"
Hi,

Following your `Quickstart with IoT Edge Dev Container`, item 5, I get `Error: no such option: --file`:

[code]

What am I doning wrong?

Thank you.

/Henrik

[2019-03-22 08:51] blackchoey commented on #181
Hi @HenrikBach1 , could you execute `iotedgedev --version` to check the version of iotedgedev? `--file` option is available starting from v1.1.0. Please execute `pip install --upgrade iotedgedev` if you have a lower version of iotedgedev.

[2019-03-23 05:26] HenrikBach1 commented on #181
Hi @blackchoey , Yes, that fixed the error. Thank you.

[2019-03-23 05:26] #181 closed

[2019-03-27 03:09] adashen opened #183 "support allow modules to be started on the hostnetwork"
module create options = "{\"NetworkingConfig\":{\"EndpointsConfig\":{\"host\":{}}},\"HostConfig\":{\"NetworkMode\":\"host\"}}"

Currently the above createOption will cause a wrong docker compose file with both host mode and azure-iot-edge-dev netowrk configured. We need add azure-iot-edge-dev network only user doesn't config network.
Ref https://github.com/Azure/iotedge/commit/e2006e0a4b098cf63913

[2019-03-28 02:58] adashen commented on #62
@czgtest  please check this issue again with the latest docker version

[2019-03-28 20:38] toolboc opened #184 "ARM Platform Support for iotedgehubdev"
I am working with a customer who is running an IoT Edge deployment on an Nvidia Jetson TX2 device running `Linux tegra-ubuntu 4.4.38-tegra #1 SMP PREEMPT Thu May 17 00:15:19 PDT 2018 aarch64 aarch64 aarch64 GNU/Linux`

As development has progressed, it made sense to investigate the potential for running the inner-dev loop (VSCode, iotedgehubdev) on the Nvidia Jetson TX2  to reduce development/test

[2019-03-29 01:26] czgtest commented on #142
edge runtime service cannot be start after user device connection string of "edgeDeviceC#"

[2019-03-29 01:44] czgtest commented on #30
@adashen this issue still repro on mac when local debug C# module

[2019-03-29 01:47] adashen commented on #184
@toolboc Thanks for the feedback. As for the issues
for 1)  Can you check the platform setting in VSCode?  You could find it at the status bar of vscode. And by clicking it, it could switch to different platforms, like arm32v7
![image](https://user-images.githubusercontent.com/1872137/55203738-73a5b880-5207-11e9-8af5-4b84ca95fee1.png)

for 2) If you enforce arm32v7 image, you could edit deployment

[2019-03-29 01:48] czgtest commented on #142
close it as by design

[2019-03-29 01:48] #142 closed

[2019-03-29 03:16] czgtest commented on #62
@adashen  this issue still repro on windows-container.  prot 53000 and 8883 are not finding by default.
user need to check "Experimental Features" in docker settings,  prot 53000 and 8883 are finding when send request ,but breakpoint is not hit

![image](https://user-images.githubusercontent.com/35018765/55207178-1c5a1500-5214-11e9-94a8-8551306d0149.png)

![image](https://user-images.githubusercon

[2019-03-29 03:22] czgtest commented on #62
by the way,  local debug for c# module  work well on docker liunx container

[2019-03-29 05:24] czgtest commented on #165
now ,it fix work ,
![image](https://user-images.githubusercontent.com/35018765/55211190-f2a9e980-5225-11e9-9a5c-50f084a0e03c.png)

[2019-03-29 05:24] #165 closed

[2019-03-29 09:24] czgtest commented on #133
now iotedgehubdev support ASA module,
steps:
1.	create new solution for ASA , select ASA job
2.click the deployment.template.json and generate deployment
3.edit module twin for device
![image](https://user-images.githubusercontent.com/35018765/55222677-7b854d00-5247-11e9-9109-5a8d51b03353.png)

4.click the deployment.json and run IoT edge in simulator.
![image](https://user-images.githubuserconten

[2019-03-29 09:24] #133 closed

[2019-03-30 08:21] czgtest opened #185 "module twin is not updated"
3.	Create new solution for c# module
4.	generate deployment manifest for c# module
5.	Edit module twin  for c# module deployment
![image](https://user-images.githubusercontent.com/35018765/55273517-91f2dd80-5307-11e9-94f6-7cc33bffba0d.png)

6. run IoT edge solution with simulator
7. Verify module twin is not updated

![image](https://user-images.githubusercontent.com/35018765/55273540-d67e7900-530

[2019-04-01 02:56] czgtest commented on #185
run “iotedgehubdev setup –c <edge device connection string> -i <iothub connection string>”
then run IoT edge solution in simulator
verify the module twin is updated.
so close it

[2019-04-01 02:56] #185 closed

[2019-04-08 02:15] blackchoey opened #187 "Allow setting environment variable when start single module mode"
I set DOCKER_HOST to my raspberry pi and started iotedgehubdev in single module mode. When debugging modules the edgeHub container will throw OutOfMemory exception.
In order to resolve this problem, we need to allow setting environment variable when start single module mode, where I can disable OptimizeForPerformance for edgeHub.

[2019-04-08 07:36] adashen commented on #184
Close the issue since the solution is provided and there is no further feedback from user after 10 days.

[2019-04-08 07:36] #184 closed

[2019-04-09 08:20] mma-mm opened #188 "Expose Workload Uri and same Api as in edgelet"
Hi,

i'd like to be able to debug my Edge-Module that uses IModuleDiscovery from the IIoTComponents.
This does not work.
According to @marcschier in [link](https://github.com/Azure/azure-iiot-common/issues/6) , the required api and information is available in edgelet, but not in iotedgehubdev.
In Edgelet, the workload uri is available. Also the api differs from the iotedgehubdev.
Please adapt the

[2019-04-12 05:09] SLdragon commented on #188
Hi, @mma-mm, thanks for your feedback!
iotedgehubdev is used to provide a light weight dev environment for users to debug edge module locally.
If we want to expose the workload url, it need to simulate Edgelet service, which is not easy, so we don't have the workload uri support now.

We will investigate this case and leave the issue open, if we have some progresses about this api, we will let you

[2019-04-25 07:01] czgtest opened #189 "The remote certificate is invalid whenlocal debug c# module on Ubuntu"
Repro on Ubuntu 18.04.

step:
1.create new solution for c# module
2.local debug c# module.

Exception has occurred: CLR/System.AggregateException
An unhandled exception of type 'System.AggregateException' occurred in System.Private.CoreLib.dll: 'One or more errors occurred.'
 Inner exceptions found, see $exception in variables window for more details.
 Innermost exception      System.Security.Auth

[2019-04-25 08:56] adashen commented on #189
SDK issue already logged at https://github.com/Azure/azure-iot-sdk-csharp/issues/911. So close it here.

[2019-04-25 08:56] #189 closed

[2019-05-14 05:22] adashen commented on #100
Close as fixed

[2019-05-14 05:22] #100 closed

[2019-05-29 01:01] mikeyamato opened #190 "Docker 4.0.1 Incompatible w/ Docker-Compose 1.24.0"
I was following the [install instructions](https://github.com/Azure/iotedgehubdev#installing) for my Mac when I received the following message in my terminal after running step 4:
[code]
Is this something I should be concerned about?

[2019-05-29 01:56] adashen commented on #190
@mikeyamato Thanks for reporting the issue. The root cause is docker-compose has upgraded the version and the dependency has some conflict. We will fix the issue by updating the dependencies versions.

At mean time, to work around this issue. Can you try
1. Uninstall the docker "pip uninstall docker[ssh]"
2. Uninstall the iotedgehubdev "pip uninstall iotedgehubdev"
3. Install docker[ssh] to specif

[2019-05-29 18:46] mikeyamato commented on #190
@adashen Please correct me if I implemented anything incorrectly but here's what I did:
1. `pip uninstall docker`
2. `pip uninstall iotedgehubdev`
3. `pip install docker==3.7.0`
4. `pip install -U iotedgehubdev`

No errors received so I think I'm good? I've copied and pasted the output of each step below.

**Step 1**
[code]
**Step 2**
[code]
**Step 3**
[code]
**Step 4**
[code]

[2019-05-30 01:43] adashen commented on #190
@mikeyamato Yes, iotedgehubdev now has been successfully installed

[2019-05-30 20:52] furlongmt commented on #156
Hi,

I'm currently having the same problem when trying to deploy a single module. What did you do to solve this issue?

[2019-05-31 07:53] adashen commented on #156
@furlongmt Thanks for reporting the issue. We tried to reproduce the issue on a fresh machine but failed to reproduce it. And can you check whether you are using the latest version 0.8.0. And if the issue still exists, Please help to provide the error log.

[2019-05-31 14:08] furlongmt commented on #156
Yes, I'm using version 0.8.0 on Ubuntu 16.04.

I setup the edge simulator using VS Code (version 1.34.0) and then run:
 `iotedgehubdev start -i "input1"`
 which fails with the following error:

**ERROR: Error while executing command: docker-compose -f /var/lib/iotedgehubdev/data/docker-compose.yml down. [Errno 2] No such file or directory: 'docker-compose'**

My VM has Docker version 18.09.6 and d

[2019-06-04 01:31] adashen commented on #156
@furlongmt , can you try "sudo iotedgehubdev start -i "input""?

[2019-06-05 18:49] lanatmwan opened #191 "Add remote debug support"
As far as I can tell, VS 2019 IoT Edge module projects don't work with remote debugging because iotedgehubdev doesn't. Remote debugging is necessary when developing on a Windows machine with an Insider build installed because Docker refuses to install. I have docker running on a remote linux machine that should work but I have no discernible options to do so in the UI.

[2019-06-06 01:07] adashen commented on #191
@lanatmwan Thanks for reporting the issue. It seems the issue is related to the vs-iot-edge extension 2019. So I have opened an issue there. https://github.com/microsoft/vs-azure-iot-edge-docs/issues/2
Please track the issue in that repo.

If there is no more comments, let's move the discussion there and I will close it in this repo to avoid confusing.

[2019-06-06 17:54] lanatmwan commented on #191
That looks like a documentation repo, not the actual extension?

[2019-06-10 01:35] adashen commented on #191
@lanatmwan Yes, Visual Studio Edge extension is not open-sourced. So https://github.com/microsoft/vs-azure-iot-edge-docs/issues is the place for issues.

[2019-06-10 04:56] SLdragon commented on #191
Hi, @lanatmwan ,
Remote debug support in Visual Studio is not straightforward, here is a blog shows how to debug remote linux module container using Visual Studio 2017.

https://devblogs.microsoft.com/iotdev/debug-iot-edge-c-or-csharp-linux-module-container-with-visual-studio-azure-iot-edge-tools/

[2019-06-12 14:29] sebader opened #193 "Define environment variable for edgeHubDev?"
For a test I need edgeHubDev to connect over MQTT instead of AMQP to the IoT Hub. This can usually be done by setting the env variable UpstreamProtocol on the edgeHub. How can this be done in the simulator?

[2019-06-12 22:23] toolboc commented on #184
I was finally able to get my hands on a device for personal testings.  It looks like we may need to repoen this issue.

When arm32v7 is enforced I  receive the following error message:
[code]
![image](https://user-images.githubusercontent.com/2018336/59389922-56c45000-8d35-11e9-8203-81e92011460d.png)

This is due to the explanation provided above:

The can be worked around by modifying the value o

[2019-06-13 01:32] SLdragon commented on #193
Hi, @sebader ,
You can add env for edgeHub in deployment manifest, and then "Build and Run IoT Edge Solution in Simulator":

[code]

You can find a related disscuss here:  https://github.com/Azure/iotedgehubdev/issues/151

[2019-06-13 10:38] sebader commented on #193
Ah sorry, I should have added that I need this for the single module simulator, not the deployment version.

[2019-06-14 03:07] SLdragon commented on #193
Hi, @sebader, define envrionment variables when starting in single module is in our plan (https://github.com/Azure/iotedgehubdev/issues/105). For current version, if you want to define envrionment variables for edgeHubDev, you can only use solution mode.

[2019-06-14 05:24] SLdragon commented on #184
Hi, @toolboc , which platform do you use to develop and run vscode ?

[2019-06-14 09:03] jznling opened #195 "ERROR: local variable 'module_content' referenced before assignment"
I run this project on a Windows 10 OS, Docker 4.0.1, surface pro 4.

I followed the procedure of deploying OPC Twin to IoT Edge on https://docs.microsoft.com/en-us/azure/iot-accelerators/howto-opc-twin-deploy-modules

When I proceed to start deployment using iotedgehubdev in "run and debug locally" section, my PowerShell alert with a warning " ERROR: local variable 'module_content' referenced befo

[2019-06-14 09:16] jznling commented on #195
I reinstall the iotedgehubdev successfully using the solution in #190, and retry the method "iotedgehubdev start -d deployment.json".
The same warning comes out again, "ERROR: local variable 'module_content' referenced before assignment".

[2019-06-14 17:10] toolboc commented on #184
@SLdragon , I am developing the module on an Nvidia Jetson Nano device with an ARMv8 Processor running an aarch64 build of Ubuntu 18.04

[2019-06-17 02:16] adashen commented on #195
@jznling The potential reason is your deployment.json may don't have "modulesContent" schema. Can you check the deployment manifest again? Or can you send the deployment.json to us?

[2019-06-17 08:41] jznling commented on #195
@adashen Well, it is the deployment.json problem. In the webpage I provided, there is a required deployment manifesto copied to deployment.json.
![image](https://user-images.githubusercontent.com/8361314/59589706-2279d680-911d-11e9-981b-6b9fb7215e2b.png)
![image](https://user-images.githubusercontent.com/8361314/59590000-acc23a80-911d-11e9-8c52-4f115eba5dfd.png)
As you can see, it made 'content' a

[2019-06-17 08:45] adashen commented on #195
@jznling Thanks for the suggestion. As for the network issue, host mode is not supported currently. And there is already one issue .in the backlog https://github.com/Azure/iotedgehubdev/issues/183

Can you provide the scenario that you need the host mode network?

[2019-06-18 02:35] SLdragon commented on #190
This issue has been fixed, update to 0.9.0 would solve the problem.

[2019-06-18 02:35] #190 closed

[2019-06-18 06:53] jznling commented on #195
@adashen Well, I don't really understand "We need add azure-iot-edge-dev network only user doesn't config network." in backlog #183
I am doing an OPC Twin demo as the webpage, https://docs.microsoft.com/en-us/azure/iot-accelerators/howto-opc-twin-deploy-modules#run-and-debug-locally
I am planning to use it to monitor some device condition.

[2019-06-18 07:29] jznling commented on #195
@adashen Do you mean I need to use my own network port for the demo?  To which part?

[2019-06-18 07:59] jznling commented on #195
@adashen I copied the result of docker-compose.yml here.
`version: '3.6'
services:
  edgeHubDev:
    container_name: edgeHubDev
    environment:
    - routes__r1=FROM /messages/modules/opctwin/* INTO $$upstream
    - routes__r2=FROM /messages/modules/opcpublisher/* INTO $$upstream
    - IotHubConnectionString=          ###myconnectionstring###
    - EdgeModuleHubServerCAChainCertificateFile=/mnt/e

[2019-06-18 08:02] jznling commented on #195
@adashen I add the content of docker-compse.yml here. The content is generated by iotedgehubdev setup and start.
'''
version: '3.6'
services:
  edgeHubDev:
    container_name: edgeHubDev
    environment:
    - routes__r1=FROM /messages/modules/opctwin/* INTO $$upstream
    - routes__r2=FROM /messages/modules/opcpublisher/* INTO $$upstream
    - IotHubConnectionString=          ###myconnectionstrin

[2019-06-18 08:04] jznling commented on #195
I add the content of docker-compse.yml here. The content is generated by iotedgehubdev setup and start.

[code]

[2019-06-18 08:12] jznling commented on #195
I add the content of docker-compse.yml here. The content is generated by iotedgehubdev setup and start. This might help you better figure out the problem.
[code]

[2019-06-18 09:25] jznling commented on #195
@adashen I try a command `iotedgehubdev start` when reading an issue on [ERROR: setup() missing 1 required positional argument: 'iothub_connection_string' when running iotedgedev start](https://github.com/Azure/iotedgedev/issues/392)

It successfully works!!! I can't believe that. I haven't checked whether my IoT Hub actually communicates to the demo or not. In the demo procedure, it requires me t

[2019-06-19 07:46] adashen commented on #195
@jznling, Thank you very much for the detail informaion. Currently iotedgehubdev doesn't support this scenario. The reason here is it will always assume to create a "azure-iot-edge-dev" network for the modules. So host mode is not supported.

As we see the needs of supporting this scenario, we will fix this bug in the next release. We will let you know the updates.

[2019-06-19 23:09] czgtest opened #196 "pip uninstall iotedgehubdev not work"
pip uninstall iotedgehubdev not work
![image](https://user-images.githubusercontent.com/35018765/59807395-42321a00-932a-11e9-94b5-ac427b7530c9.png)

[2019-06-19 23:37] rido-min commented on #42
I still hit this issue. I was expecting having these instructions on the README

[2019-06-20 01:55] adashen commented on #42
@rido-min, Thanks for the suggestion, we will add it as notes in the README.

[2019-06-21 04:53] SLdragon commented on #196
Maybe you need to reopen the command line window to make there is no cache.

[2019-06-21 05:16] SLdragon commented on #184
@toolboc , if you are developing edge modules on ARM machine, you can change the image url in the deployment.*.json file to support ARM:

![image](https://user-images.githubusercontent.com/5545529/59899104-1a27e100-9426-11e9-9530-4033ff817487.png)

Then the docker docker-compose.yml would be update to ARM:
![image](https://user-images.githubusercontent.com/5545529/59899266-b651e800-9426-11e9-92ec-

[2019-06-26 12:36] KevinTipps opened #197 "target is not connected"
I've tried to go through the basic debugging demo but keep getting target is not connected and holds on the following line.

[code]

this has work for me previously but has now stopped working on numerous machines

edgehub container log

**2019-06-26 12:09:08.641 +00:00 [WRN] - Module ijbhome-sim/target is not connected**

[code]

test container log , is receiving and accepting messages ok

[code]

[2019-07-01 03:47] SLdragon commented on #197
Hi, @KevinTipps , from the logs, it seems like your module didn't start successfully, could you provide your sample project and information about your system?

[2019-07-01 07:09] SLdragon commented on #191
Close due to no activity, if you have any other questions, feel free to create another issue

[2019-07-01 07:09] #191 closed

[2019-07-02 09:22] KevinTipps commented on #197
Hi @SLdragon

on the  await ioTHubModuleClient.OpenAsync(); I eventually get the following exception.

[code]
I get this failure with the basic new solution template (c# sharp)

It all works fine on my personal machine at home but in the office what I'm informed is not different to my home network it fails

I've turned the firewalls off on the machine aswell but to no avail.

OS Win10 Enterprise 1

[2019-07-02 16:38] kd2eom opened #199 "Cannot install"
`pip install --upgrade iotedgehubdev` results in a "Segmentation fault (core dumped)" error on Ubuntu 18.04.

[2019-07-03 02:01] SLdragon commented on #199
Hi, @kd2eom , which version of python do you use?

From this error message, maybe the Python interpreter you are using has crashed. You can reinstall the python and try again.

[2019-07-03 02:59] SLdragon commented on #197
Hi @KevinTipps , you can change your C# sdk version and try again.
I cannot repro your issue on my own computer, and if your sample previously works fine, maybe it related to the sdk version.

![image](https://user-images.githubusercontent.com/5545529/60560205-7b827500-9d81-11e9-92d1-dbe46a24f570.png)

[2019-07-03 16:36] kd2eom commented on #199
Python version is 2.7.15. I will try reinstalling but I don't think that is the issue as I was able to install other packages without any problems.

[2019-07-03 19:25] kd2eom commented on #199
Just notices it installs if I substitue `pip3` for `pip`. But that just installs the python3 version, whereas I want the python2 version with normal `pip`.

I realized that it is kind of difficult for me to reinstall python, because it came pre-installed on my Ubuntu system, and a lot of other packages depend on it, so uninstalling could cause a lot of problems/headache for me. Anyway, I don't thi

[2019-07-04 07:56] SLdragon commented on #199
Hi, @kd2eom , which version of Ubuntu do you use, I will take a try to repro this issue.

Could you please also try to install a previous version of this package to check whether it works.

[2019-07-04 18:56] KevinTipps commented on #197
Thanks @SLdragon Sorry just to confirm you are  suggesting I enter a specific version Azure.Devices.Client library

a bit more information in the hub I get the following
![image](https://user-images.githubusercontent.com/22293297/60684355-3d767580-9e95-11e9-8eb7-f7afd637257f.png)

which container creates the target. I suspect I might have a loopback firewall issue but it's a corporate enforced pol

[2019-07-04 19:05] KevinTipps commented on #197
I should also mention I run code via a miniconda virtual environment for the simulator

[2019-07-05 04:39] SLdragon commented on #197
As far as I know, you cannot change the ports which are used by IoT Edge Hub. So you can try to add exceptions for port 443, 5671 and 8883 in your firewall

[2019-07-11 01:33] SLdragon commented on #197
Close due to no activity, if you have any other questions, feel free to create another issue, thanks!

[2019-07-11 01:33] #197 closed

[2019-07-11 07:24] czgtest commented on #189
![image](https://user-images.githubusercontent.com/35018765/61030447-f5ed6d80-a3ef-11e9-8764-40a47fa15e68.png)

[2019-07-20 17:25] dmaxwe22 commented on #30
Thank you, @adashen, that worked for me. I searched for a solution for one whole day. This is something that SHOULD be included in the documentation for Visual Studio Code for MacOS for debugging.

[2019-07-25 09:11] eriolchan commented on #30
**Access is denied when debugging C# module on macOS**

**Description:**
Error message of "Access is denied" occurs when debugging C# module on macOS.

**Cause:**
The root cause is that certificate of _edge-device-ca.cert.pem_ is not added to keychain.

**Workaround:**
For local debug,
1. Add _edge-device-ca.cert.pem_ to your keychain manually, and remove the env "_EdgeModuleCACertificateFile_".

[2019-08-08 20:24] toolboc opened #205 "Docker Runtime is always set to "runc" by iotedgehubdev"
I am developing a GPU accelerated IoT Edge module on an Nvidia Jetson Xavier device that requires setting the Docker runtime to "nvidia" to ensure that created modules are bootstrapped with [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) to allow appropriate access to the system GPU resources and CUDA librarires.

The module settings from my deployment.template.json can be seen below:

[c

[2019-08-09 01:02] adashen commented on #205
@toolboc Thank you very much to report the issue! We will investigate it and keep you updated when it is fixed.

[2019-08-11 21:14] JetstreamRoySprowl opened #206 "Need better error message"
Erroneously attempting to debug an Edge configuration on a non-Edge device gives the following uninformative error:
[code]
This is such an easy mistake to make, especially for newcomers, that it warrants a helpful error like "Cannot deploy Edge modules to a non-Edge device".

[2019-08-13 01:44] SLdragon commented on #205
Thanks for your feedback, we will try to add Runtime support in future relesase

[2019-08-13 01:45] SLdragon commented on #206
Thanks for your feedback, maybe we can try to check non-Edge device before start, and would be supported in the future release

[2019-08-22 12:59] kiranpradeep opened #207 "how to configure edgehubdev to use amqpws"
I am trying to get edgehubdev working over a http proxy. But that needs edgehubdev  to use amqp over websockets. How to specify that while starting iotedgehubdev ?

[2019-08-28 07:15] adashen commented on #207
@kiranpradeep thanks for the feedback. You could find the setting steps of iotedge runtime in proxy scenario at
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support

Can you try whether it helps?

[2019-08-28 14:31] kiranpradeep commented on #207
@adashen Please see the query is specific to edgehubdev. I had checked the link earlier and it is about setting proxy in iotedge runtime.

[2019-08-29 01:41] adashen commented on #207
@kiranpradeep iotedgehubdev does not use edgeAgent, so there is no need to config config.yaml. And you can follow https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support#json-deployment-manifest-files to config the "edgeHub" module in JSON deployment manifest.

[2019-08-30 19:05] kiranpradeep commented on #207
@adashen Thanks. That helped. After setting _https_proxy_ and _UpstreamProtocol_ (amqpws) env variables, I was able to use edgehubDev over http proxy.

But, that works only I start in simulator mode with deployment manifest template. When I start edgehubDev for single module debugging, the env variables are not in effect (verified with _docker inspect edgeHubDev_) and so edgeHubDev cannot connect

[2019-09-02 01:58] adashen commented on #207
@kiranpradeep The latest version 0.10.0 has just added the support for env in single module debugging. (https://github.com/Azure/iotedgehubdev/releases/tag/v0.10.0)
You could use "-e" option to add the envs when starting the simulator.

[2019-09-02 03:07] #207 closed

[2019-09-02 03:14] kiranpradeep opened #209 "offline mode support"
The development computers need not always have an internet connection. Is it possible to let the developer start debugging when offline?

The request is **not** for full-fledged offline support inclusive of resyncing messages or module twin properties. The request is to only let the developer debug while offline with minimal functionalities as possible.

[2019-09-02 09:14] adashen commented on #209
@kiranpradeep thanks for the suggestion. However, the edgeHub needs connected internet connection to auth modules. So currently it is not possible to do this.

[2019-09-02 12:05] kiranpradeep commented on #149
@adashen Even if install as user (--user), and expose script path, the command (_iotedgehubdev setup -c "xxxxx"_) program attempts to create directories in /var/lib (on Ubuntu 18.04 and macOS 10.13.4) which is limited to root access.

[2019-09-02 15:45] cicorias commented on #149
can you try running the pip install `sudo env "PATH=$PATH" <command>` --- this is how I've worked around the limitation of iotedgedev tools and hard requirement of root. I agree this is not normal and should still be addressed.

[2019-09-03 03:34] kiranpradeep commented on #149
@cicorias Sorry. I couldn't understand the suggested command fully. The aim was to install and use _iotedgehubdev_ with out using _sudo_.

[2019-09-03 08:30] kiranpradeep commented on #30
Adding third party issue for transparency https://github.com/Azure/azure-iot-sdk-csharp/issues/574

[2019-09-25 08:19] czgtest opened #214 "If the device does not belong to the iothub. Error is not shown"
repro on v0.11.0rc0

Step:
1. Run “iotedgehubdev setup –c <edge device connection string> -i <iothub connection string>”
expect :  If the device does not belong to the iothub. Error will be shown and fail the setup
actually:  If the device does not belong to the iothub. Error is not shown and setup successfully

![image](https://user-images.githubusercontent.com/35018765/65582485-17520480-dfb0-11e

[2019-09-26 00:43] czgtest opened #215 "iotedgehubdev can't work after install through GitHub on Ubuntu/Mac"
repro on : ubuntu/mac
python: 2.7.15 / 2.7.14
step:
1. pip install git+https://github.com/Azure/iotedgehubdev.git@master
2. iotedgehubdev --version

iotedgetest@iotedgetest-desktop:~$ iotedgehubdev --version
Traceback (most recent call last):
  File "/usr/local/bin/iotedgehubdev", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packages/pkg_resour

[2019-09-26 02:24] adashen commented on #214
@czgtest Actually the host name is same in both device connection string and hub connection string "czghub0925", can  you double check?

[2019-09-26 02:26] adashen commented on #215
@czgtest it is a python package version issue. Can you try to install it on a clean ubuntu machine?

[2019-09-26 05:27] czgtest commented on #214
OK,  I use the device from another hub , Error will be shown and fail the setup

![image](https://user-images.githubusercontent.com/35018765/65660357-1036ff00-e061-11e9-962b-08bd8da6c863.png)

[2019-09-26 05:27] #214 closed

[2019-09-26 05:36] czgtest opened #216 "Can't use powershell to run iotedgehubdev command"
repro on : Windows10

1. Download standalone binaries from GitHub release page: https://github.com/Azure/iotedgehubdev/releases
2. Unzip binaries to a folder
3. Open CMD, navigate to binaries folder, and run iotedgehubdev command
here it work well
4. Open PowerShell , navigate to binaries folder, and run iotedgehubdev command

![image](https://user-images.githubusercontent.com/35018765/65660834-83

[2019-09-26 06:05] czgtest commented on #216
the binaries folder is C:\iotedgehubdev

Open PowerShell , navigate to binaries folder, and run iotedgehubdev command

PS C:\iotedgehubdev> iotedgehubdev.exe --version   failed
PS C:\iotedgehubdev> iotedgehubdev --version   failed
PS C:\iotedgehubdev> .\iotedgehubdev.exe --version  work well
PS D:\> C:\iotedgehubdev\iotedgehubdev.exe --version  work well

[2019-09-27 02:47] czgtest opened #217 "[Windows7]New state of 'nil' is invalid in edgeHubDev logs"
repro on : Window7

step:
1.install docker on win7
https://docs.docker.com/toolbox/toolbox_install_windows/
2.Download standalone binaries from GitHub release page: https://github.com/Azure/iotedgehubdev/releases
3.Install iotedgehubdev and setup device connection string
4. iotedgehubdev start -d deployment.json
this deployment.json is form "Test host network" case
5. it has error in edgeHubDev lo

[2019-09-27 05:16] adashen commented on #217
https://github.com/moby/moby/issues/22345

[2019-09-27 08:14] czgtest opened #218 "[Window7] Connection is being rejected when local debug c# and nodejs module"
Repro on : Windows 7
pip or standalone install iotedgehubdev

step:
1. iotedgehubdev setup -c "device connection string"
2. Run “Iotedgehubdev modulecred”
3. Copy the output env to the C# launch debug configuration in VS Code
4. Run “iotedgehubdev start -i <input name>”
![image](https://user-images.githubusercontent.com/35018765/65753549-d2f66e00-e141-11e9-8e9f-c857d37e68dc.png)
5. send request fo

[2019-09-27 09:05] czgtest opened #219 "[Windows7] can't create share path for createOption of build"
repro on Windows7
pip or standalone install iotedgehubdev

step:
1.Prepare a deployment manifest and set createOptions of SimulatedTemperatureSensor as bellow
 "createOptions": "{\"HostConfig\":{\"Binds\":[\"C:\\\\Users:/home/moduleuser/test\"]}}"
2. Run “iotedgehubdev start –d <deployment.json>”
3.Run “docker exec -it tempSensor /bin/sh”
4. run “ls /home/moduleuser/test”, the result should be a l

[2019-09-27 09:25] czgtest opened #220 "[Windows7] Don't support –H option to config DOCKER_HOST"
Repro on : Windows7

step:
1.Install IoT Edge runtime on a Windows PC.
the container host is on unsupported build version 7601.

the moby runtime can't install ,so Iotedgehubdev can't use -H option to config docker_host.

![image](https://user-images.githubusercontent.com/35018765/65758418-a9424480-e14b-11e9-8928-ff03ebdf01d2.png)

[2019-09-27 16:57] angellmethod commented on #180
@erich-wang  that suggestion resolved the issue I ran into

[2019-09-29 09:05] czgtest opened #221 "[ubuntu/mac]docker-compose has not been added as a Python dependency"
Repro on : ubuntu/mac
sudo pip install git+https://github.com/Azure/iotedgehubdev.git@master

step:
1. Remove the installed docker-compose
          iotedge@iotedge-Lenovo:/$ which docker-compose
           /usr/local/bin/docker-compose
          iotedge@iotedge-Lenovo:/$ sudo mv /usr/local/bin/docker-compose /usr/local/bin/docker-compose11
2. run iotedgehubdev start –d <deployment manifest>
Expec

[2019-09-30 01:23] czgtest commented on #215
https://github.com/cloud-custodian/cloud-custodian/issues/3413

[2019-09-30 02:15] adashen commented on #221
@czgtest actully after you remove docker-compose, please install iotedgehubdev, to make sure install iotedgehubdev could install docker-compose for user.

[2019-09-30 02:16] #217 closed

[2019-09-30 02:45] czgtest commented on #221
step:
1. rename docker-compose
iotedge@iotedge-Lenovo:/$ which docker-compose
/usr/local/bin/docker-compose
iotedge@iotedge-Lenovo:/$ sudo mv /usr/local/bin/docker-compose /usr/local/bin/docker-compose11

2.sudo pip install git+https://github.com/Azure/iotedgehubdev.git@master
3. sudo iotedgehubdev setup -c "HostName=czghub0925.azure-devices.net;DeviceId=edgeubuntu;SharedAccessKey=KTF4xhG3FeqFX/gt

[2019-09-30 03:07] czgtest commented on #221
step:
1. sudo mv /usr/local/bin/docker-compose /usr/local/bin/docker-compose22
2. sudo pip uninstall docker-compose
3.sudo pip uninstall iotedgehubdev
4. sudo pip install git+https://github.com/Azure/iotedgehubdev.git@master
5. sudo iotedgehubdev setup -c "HostName=czghub0925.azure-devices.net;DeviceId=edgeubuntu;SharedAccessKey=KTF4xhG3FeqFX/gtypp3u81bw8hEWzwS+PPViiH8nO0="
6. sudo iotedgehubdev s

[2019-09-30 03:08] czgtest commented on #221
so close it

[2019-09-30 03:08] #221 closed

[2019-10-08 05:17] SLdragon commented on #220
Edge runtime is unsupported on win7, so you cannot install it. You can just skip this these test

[2019-10-08 05:25] SLdragon commented on #216
This is by design of powershell

[2019-10-08 05:25] #216 closed

[2019-10-08 05:29] czgtest commented on #215
on clean Ubuntu machine ，this issue is not repro on.

on Mac machine. we can use bellow steps to resolve this issue.

sudo pip uninstall azure-cli-core 2.0.49
sudo pip install docker-compose==1.24.0
sudo pip install git+https://github.com/Azure/iotedgehubdev.git@master

[2019-10-08 05:30] #215 closed

[2019-10-08 05:33] czgtest commented on #220
Got it,  closed it

[2019-10-08 05:33] #220 closed

[2019-10-08 09:42] czgtest commented on #218
on Windows7,  user need to set Port Forwarding rules in Virtual Box Manager,
here is the steps:

• Open VirtualBox Manager on Windows7
• check the appropriate machine (probably the one labeled "default" )
• Settings
• Network > Adapter 1 > Advanced > Port Forwarding
• Click "+" to add a new Rule
• Set Host Port 8883 & Guest Port 8883; be sure to leave Host IP and Guest IP empty
And Set Host Port 5

[2019-10-08 09:42] #218 closed

[2019-10-08 09:53] czgtest commented on #219
this result is right，  the result is the list of files under host machine’s C：users。

[2019-10-08 09:53] #219 closed

[2019-10-21 20:00] ede0m opened #224 "Could not connect to Docker daemon"
[code]

[code]

Same result if I select and run "Build and Run IoT Edge Module Simulator".

My docker client app claims it is running. I am pulling images from azure container registry, if that makes a difference.

Any idea what is going on here?

[2019-10-25 00:52] rlimberger commented on #30
Im running into this too. Where do I get `edge-device-ca.cert.pem` from?

[2019-10-25 01:31] rlimberger commented on #30
I followed these steps:

1. add /var/lib/iotedgehubdev/certs/edge-device-ca/cert/edge-device-ca.cert.pem to system keychain and set "always trust" manually
2. removed EdgeModuleCACertificateFile from launch.json

This changed the exception from:
`System.Security.Cryptography.CryptographicException : Access is denied.`
To:
`System.Security.Authentication.AuthenticationException : The remote certifi

[2019-10-25 03:18] czgtest commented on #224
@ede0m  this issue will repro on Python 3.8.0, pypiwin32 package has conflict,  so Can you try to install Python 3.7.5, then pip install iotedgehubdev again,  it will work well

[2019-10-25 08:53] adashen opened #229 "Make python version consistent between pip and standalone"

[2019-10-26 04:22] pkoronawa opened #230 ""File in use by another process" when running IoT Edge Module in VS"
Intermittently, running an IoT Edge module as the startup project in Visual Studio will fail with the message

This seems to persist until host machine is rebooted. I note in the docker log instances of debug FIXME messages.

[2019-10-26 04:27] pkoronawa commented on #230
Sorry wrong screen capture

![Capture](https://user-images.githubusercontent.com/47200230/67614237-3938d580-f76e-11e9-87eb-c853917b0923.PNG)

[2019-10-28 02:06] adashen commented on #230
@pkoronawa It seems an issue in docker for win. Some issue links:
https://stackoverflow.com/questions/53836103/failed-to-create-endpoint-on-network-nat-hnscall-failed-in-win32-the-process-c
https://github.com/docker/for-win/issues/667

[2019-10-28 08:11] pp012185 commented on #224
I have the same situation with the **ERROR: Could not connect to Docker daemon. Please make sure Docker is running : Install pypiwin32 package to enable npipe:// support.**
I set "**DOCKER_HOST=tcp://localhost:2375**" at "**Tools -> Azure IoT Edge Tools -> Iot Edge Tools Setting**".
And it can debug in "single module mode" with iotedgehubdev.
But I still can't debug in "Solution mode"

[2019-10-28 08:58] adashen commented on #224
@pp012185 which python version are you using? It seems pypiwin32 package has some issue working on python 3.8.

[2019-10-28 15:21] pp012185 commented on #224
@adashen  thanks a lot. My python version is 3.8, so I change the version to python 3.7.4. Then, the error above is resolved.

[2019-10-28 19:33] pkoronawa commented on #230
They seem to think that it's an issue with whatever calls the docker daemon. Perhaps the relevant section of the docker log helps? Note entries for FIXME at [14:56:35.707]

[dockerFIXME.txt](https://github.com/Azure/iotedgehubdev/files/3780331/dockerFIXME.txt)

[2019-10-29 01:55] SLdragon commented on #230
Hi, @pkoronawa , before you start an IoT Edge module, make sure you have already cleaned docker containers in another platform.

For example, if you are running IoT Edge module in Windows container, then switch to the Linux container, you should clean the Windows containers before switch to Linux. Otherwise, it would throw "The process cannot access the file because it is being used by another pro

[2019-10-29 02:26] SLdragon commented on #224
@pp012185 , thanks for your feedback, and we will investigate whether we can solve the issue for python 3.8, and would let you know the progress!

[2019-10-29 07:23] SLdragon commented on #224
https://github.com/docker/docker-py/issues/2454

[2019-10-29 20:02] ede0m commented on #224
Switched to 3.7.4 as a workaround, thanks @adashen @SLdragon.

[2019-11-02 22:54] pkoronawa opened #233 "ACKs lost in Simulator"
I've implemented the basic messaging tutorial described in
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows

When I run it in the simulator, IotEdgeModule1 receives the first temperature message and posts it to the hub, but subsequently times out as below. Thereafter, it keeps receiving the same message repeatedly.

The same modules work properly when deployed to a VM r

[2019-11-04 01:41] adashen commented on #233
@pkoronawa Thanks for reporting this. Can you share more information about the csharp SDK version and protocol used (mqtt or amqp)?

[2019-11-04 20:53] pkoronawa commented on #233
Here is the test project. I'm not sure where to find the SDK version number

[VanillaTest.zip](https://github.com/Azure/iotedgehubdev/files/3806031/VanillaTest.zip)

[2019-11-06 18:14] pkoronawa commented on #230
This occurs when using only windows containers on docker. My module isn't running in a container at all, only test support containers

[code]

[2019-11-07 04:43] SLdragon commented on #233
Hi, @pkoronawa , you can use "dotnet list package" command to check your C# SDK version under your module project.

Another suggestion is that you can try to use MQTT protocol to see whether the issue still exists, because we previously found that AMQP protocol is not very stable.

[2019-11-07 06:19] SLdragon commented on #230
Hi, @pkoronawa , when you try to debug edge module in the visual studio, the module is just running on your host machine, and not in the containers, so you cannot find the module in the container. From your container information, it works fine.

If you already cleaned the containers in other platform and stilll see the error. I think it is because some ports on your system have been occupied, you

[2019-11-07 20:34] pkoronawa commented on #233
[code]

[2019-11-08 17:43] pkoronawa commented on #233
Looks like this is a recently introduced problem in Microsoft.Azure.Devices.Client

See thread in https://github.com/Azure/iotedge/issues/1715

[2019-11-12 01:52] SLdragon commented on #233
Thank you for your feedback, seems like it is a SDK issue, and we will keep this issue open until SDK team solve the problem.

[2019-11-14 02:13] SLdragon commented on #183
Fixed

[2019-11-14 02:13] #183 closed

[2019-11-14 02:14] SLdragon commented on #230
If you have any other questions, feel free to contact us. Just close this issue

[2019-11-14 02:14] #230 closed

[2019-11-14 02:22] SLdragon commented on #199
Close due to no activity, if you have any other questions, feel free to contact us

[2019-11-14 02:22] #199 closed

[2019-11-14 02:23] #196 closed

[2019-11-14 02:23] SLdragon commented on #195
Already fixed and closed

[2019-11-14 02:23] #195 closed

[2019-11-14 02:28] SLdragon commented on #187
Already added this feature

[2019-11-14 02:28] #187 closed

[2019-11-14 02:29] SLdragon commented on #193
Already added this feature in new vesrion

[2019-11-14 02:29] #193 closed

[2019-11-14 02:41] SLdragon commented on #151
Already added this feature

[2019-11-14 02:41] #151 closed

[2019-11-14 02:42] #102 closed

[2019-11-15 03:57] SLdragon commented on #229
Already fixed

[2019-11-15 03:57] #229 closed

[2019-11-21 05:59] czgtest opened #236 "environment can only contain strings when iotedgehubdev start -H"
repro on 0.12.0rc0
python : 2.7.17

iotedgehubdev start -H "npipe:////./pipe/iotedge_moby_engine"
ERROR: environment can only contain strings

![image](https://user-images.githubusercontent.com/35018765/69310321-0b5c8900-0c67-11ea-875e-aad5f61ca7ee.png)

[2019-11-21 09:12] czgtest opened #237 "pip install iotedgehubdev v0.12.0-rc0 failed on ubuntu"
step:
1. login in clean ubuntu without python install
2. sudo apt install python
3. sudo apt install python-pip
4. sudo pip install --index-url https://test.pypi.org/simple/ iotedgehubdev==0.12.0rc0 --extra-index-url https://pypi.org/simple

Install failed :

[2019-11-21 09:18] czgtest commented on #237
zun@zun-OptiPlex-790:~$ python --version
Python 2.7.15+
zun@zun-OptiPlex-790:~$ pip --version
pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)
zun@zun-OptiPlex-790:~$ sudo pip install --index-url https://test.pypi.org/simple/ iotedgehubdev==0.12.0rc0 --extra-index-url https://pypi.org/simple
The directory '/home/zun/.cache/pip/http' or its parent directory is not owned by the current u

[2019-11-21 11:28] kiranpradeep opened #238 "[query] need of iotedgehubdev modulecred -l parameter"
This is not a bug and only a query. I was trying to develop the edge modules in a docker container[[1](https://code.visualstudio.com/docs/remote/containers)] and came to this blocker.

`iotedgehubdev modulecred` has an `-l` parameter which changes GatewayHostName to localhost. Why was this needed? During local debug, if I try connecting with actual hostname(GatewayHostName=real_host_name), the SSL

[2019-11-22 01:43] SLdragon commented on #237
Hi, Chen, seems like pip cannot find the jsonpath-rw library, can you run this command and try again:
[code]

[2019-11-22 02:17] SLdragon commented on #238
Hi, @kiranpradeep , do you mean that if you try to use the "real_host_name" as GatewayHostName, then it not work?

Could you please share some error messages about it, and here is another issue talk about the GatewayHostName maybe you can refer:
https://github.com/Azure/iotedge/issues/992

[2019-11-22 02:24] adashen commented on #238
@kiranpradeep May I know the language you are using? Is it csharp? If so that is the reason we provide localhost, please refer to the issue https://github.com/Azure/azure-iot-sdk-csharp/issues/574

There is a bug when resolving the "fqdn" hostname on the machine. But for "localhost" it could always resolve to the correct ip. That's why we add "localhost" in this scenario.

[2019-11-25 03:40] #236 closed

[2019-11-25 08:56] czgtest opened #242 "the cert path can't be access by edge runtime."
repro on v1.12.0-rc0

Test on ubuntu VM:
1.	Create an Azure VM with IoT Edge runtime installed, config DNS name for the Azure VM
2.	Setup IoT Edge runtime, remember to change “hostname” in IoT Edge config to the DNS name
3.	Restart iot edge runtime  here work well
4.	Sudo pip install --index-url https://test.pypi.org/simple/ iotedgehubdev==0.12.0rc0 --extra-index-url https://pypi.org/simple
5.	Sud

[2019-11-26 02:10] blackchoey commented on #242
File permission issue, following steps fix the error (remember to replace the user name in the commands):
1. sudo cp -r /var/lib/iotedgehubdev/certs/ /home/iotedge/chaoyitest3/
2. sudo chown -R iotedge chaoyitest3
3. update the cert path in iotedge config and restart iotedge runtime

Please try again

[2019-11-26 03:42] czgtest commented on #242
fix work，so close it

[2019-11-26 03:42] #242 closed

[2019-11-26 03:54] czgtest commented on #237
this issue will repro again after try above command

[2019-11-26 05:44] SLdragon commented on #237
Hi, Chen, please install the package directly through the command below to see whether it works:

[code]

[2019-11-27 03:33] czgtest opened #244 "Please make sure you\'re using an Edge device"
C:\Users\iotedge\Downloads>iotedgehubdev start -d case1.json
ERROR: (400, '{"Message":"ErrorCode:ArgumentInvalid;BadRequest","ExceptionMessage":"Tracking ID:3faf7a72bb23409dba25d6096cb5903e-G:27-TimeStamp:11/27/2019 03:29:43"} Please make sure you\'re using an Edge device.')

Expect :  Please make sure you're using an Edge device

![image](https://user-images.githubusercontent.com/35018765/6969128

[2019-11-27 09:13] zunhu commented on #244
repro on Mac
1.iotedgehubdev setup -c "iotdeviceconnnectionstring"
2.iotedgehubdev start -d deployment.json

SCs-Mac-mini-2:EdgeSolution vsc$ sudo "iotedgehubdev" start -d "/Users/vsc/Documents/ChenTest/EdgeSolution/config/deployment.amd64.json" -v
ERROR:

Expect: Please make sure you're using an edge device

[2019-11-27 09:41] czgtest opened #246 "[ubuntu]Error while executing command: iotedgehubdev start -d deployment"
azure VM : czgdnsubuntu

1. sudo pip uninstall iotedgehubdev
2. sudo pip install --index-url https://test.pypi.org/simple/ iotedgehubdev==0.12.0rc1 --extra-index-url https://pypi.org/simple
3. sudo iotedgehubdev setup -c "edgedeviceconnectionstring"
4. sudo iotedgehubdev start -d test/case1.json

ERROR: Error while executing command: docker-compose -f /var/lib/iotedgehubdev/data/docker-compose.yml

[2019-11-27 09:45] SLdragon commented on #233
C# SDK version 1.21.2 fixed this problem, and close this issue.

[2019-11-27 09:45] #233 closed

[2019-11-28 05:13] czgtest commented on #244
repro on Mac
1.iotedgehubdev setup -c "iotdeviceconnnectionstring"
2.iotedgehubdev start -d deployment.json
SCs-Mac-mini-2:EdgeSolution vsc$ sudo "iotedgehubdev" start -d "/Users/vsc/Documents/ChenTest/EdgeSolution/config/deployment.amd64.json" -v
ERROR:
Expect: Please make sure you're using an edge device

[2019-11-28 05:21] czgtest commented on #244
also repro on ubuntu
![image](https://user-images.githubusercontent.com/35018765/69779159-0016d980-11e2-11ea-842a-0f41821ab7bf.png)

[2019-11-28 06:04] czgtest commented on #246
if the createOptions is invalid ,  this issue will repro on.  for example .  the path is not right on ubuntu.

"createOptions": "{\"HostConfig\":{\"Binds\":[\"C:\\\\Users:/home/moduleuser/test\"]}}"

if the createOptions is right,  iotedgehubdev work well.

so it is a test issue, close it

[2019-11-28 06:04] #246 closed

[2019-11-28 06:50] czgtest opened #247 "create opcpublisher failed on ubuntu"
repro on ubuntu

case:Test host network
1.create clean ubuntu VM with edge runtime
2. Install iotedgehubdev v0.12.0rc1 and setup device connection string
3.Use the deployment.json file as below, and make sure to replace env “_HUB_CS” with your own iothub connection string
4. Try to run command:
iotedgehubdev start -d path/to/deployment.json

![image](https://user-images.githubusercontent.com/35018

[2019-11-28 07:51] czgtest commented on #237
Manually install bellow commands , then iotedgehubdev install pass.

pip install backports.ssl_match_hostname
pip install docker-pycreds
pip install websocket_client
pip install dockerpty
pip install bcrypt
pip install functools32

[2019-11-28 09:07] SLdragon commented on #247
Change image tag to 2.3 would solve the problem,

[2019-11-29 08:55] adashen commented on #238
Since it's not an issue, instead of a query and has been answered. Close now. Please feel free to open if there is any other issue.

[2019-12-02 11:18] kiranpradeep commented on #238
@adashen @SLdragon I tried now both on an Ubuntu 18.04 LTS and macOS 10.13. In both machines, I could connect(using MQTT protocol) to local edgehubdev using FQDN. Maybe issue [574](https://github.com/Azure/azure-iot-sdk-csharp/issues/574)  got fixed and so `-l` is no more needed. Obviously on macOS we still have issue #30 and so the certificate needs to manually added to key chain. But the `-l` mi

[2019-12-05 03:58] czgtest commented on #244
fix work on windows/mac/ubuntu, so close it

[2019-12-05 03:58] #244 closed

[2019-12-06 01:55] czgtest commented on #247
fix work, so close it

[2019-12-06 01:55] #247 closed

[2019-12-06 06:56] kiranpradeep commented on #209
@adashen EdgeHub allows authentication of modules provided it was able to connect to IoTHub atleast once[[1](https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#how-it-works)]. Is it possible to allow modules to be authenticated provided edgeHub was able to connect to IoTHub atleast once?

[2019-12-06 09:33] SLdragon commented on #224
Now iotedgehubdev version 0.12.0 supported Python 3.8, so close this issue

[2019-12-06 09:33] #224 closed

[2019-12-06 09:37] SLdragon commented on #206
Now with iotedgehubdev 0.12.0 released, it would show more clear error message for non-Edge device, so close this issue, and thanks for your feedback!

[2019-12-06 09:37] #206 closed

[2019-12-06 09:42] SLdragon commented on #237
Thank you Chen, close this due to test environment issue

[2019-12-06 09:42] #237 closed

[2019-12-09 08:28] kiranpradeep commented on #175
@adashen Is there an update on this? We are trying to invoke direct methods on other modules and that is not possible without `IOTEDGE_DEVICEID` being populated.

[2019-12-09 09:07] adashen commented on #175
@kiranpradeep can you give more detail of the scenario? Currently there is no update from SDK side. And we would like to know more about your scenario. Besides, the quick workaround, is set the ENV in your execution environment to unblock you first.

[2019-12-09 12:10] kiranpradeep commented on #175
@adashen Thanks for guiding. I will now proceed with setting ENV in deployment.debug.template.json.

The scenario was to invoke a direct method from moduleA to mobileB using [InvokeMethodAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.moduleclient.invokemethodasync?view=azure-dotnet). But that needed the device id from `IOTEDGE_DEVICEID` env.

[2019-12-10 01:40] SLdragon commented on #174
Added and closed
https://github.com/Azure/iotedgehubdev/pull/248

[2019-12-10 01:40] #174 closed

[2019-12-10 07:05] czgtest opened #253 "use certification authority (CA) instead of CA in output message"
repro on v.0.13.0rc0

D:\iotedgehubdev>iotedgehubdev generatedeviceca
Trusted **CA** and Trusted **CA** key were not provided. Will create new trusted **CA**.
Successfully generated device **ca**. Please find the generated certs at D:\iotedgehubdev\certs

expect: Trusted certification authority (CA) and Trusted CA key were not provided. Will create new trusted CA.Successfully generated device cert

[2019-12-10 11:02] kiranpradeep opened #254 "Direct methods between modules not working in iotedgehubdev"
I was trying to use iotedge github samples DirectMethodSendor[[1](https://github.com/Azure/iotedge/tree/1.0.8.4/edge-modules/DirectMethodSender)] and DirectMethodReceiver[[2](https://github.com/Azure/iotedge/tree/1.0.8.4/edge-modules/DirectMethodReceiver)]. For #175, I hardcoded device id (`targetDeviceId`) in DirectMethodSender module. But, I am still unable to invoke method in DirectMethodReceiv

[2019-12-10 11:29] #254 closed

[2019-12-11 06:08] blackchoey commented on #253
Updated to `Trusted CA (certification authority) and trusted CA key were provided....` to provide information for the abbreviation. Since the abbreviation CA is widely used widely in many documents, we will keep using the abbreviation in remaining places for better readability.

[2019-12-11 08:57] SLdragon commented on #70
pip uninstall only remove package, and cannot remove other files, so close this issue

[2019-12-11 08:57] #70 closed

[2019-12-11 09:13] SLdragon commented on #177
Cannot repro in current version [docker-compose version 1.24.1, build 4667896b], so close this issue

[2019-12-11 09:13] #177 closed

[2019-12-12 02:52] #253 closed

[2019-12-12 02:55] #170 closed

[2019-12-12 03:18] adashen commented on #155
now docker config could read from env. Close it here

[2019-12-12 03:18] #155 closed

[2019-12-12 03:20] adashen commented on #67
It is now supporting c and pythonv2 sdk.

[2019-12-12 03:20] #67 closed

[2019-12-12 03:23] adashen commented on #62
@czgtest please check the single module debug scenario for csharp module with windows container again. And close the issue if could not reproduce.

[2019-12-12 03:28] blackchoey commented on #209
Hi @kiranpradeep If you started running IoT Edge solution using iotedgehubdev with internet connected and then disconnect your network connection, the module could keep working without network connection.

[2019-12-12 18:04] kiranpradeep commented on #209
@blackchoey These are different. EdgeHub needs internet connectivity only once in lifetime. But iotedgehubdev needs for every start.

[2019-12-13 03:52] SLdragon commented on #179
There are no Azure hosted 1809 agent now, so keep this issue open util Azure DevOps provide 1809 image

[2019-12-13 05:14] SLdragon commented on #175
Hi, @kiranpradeep , since there is no update from SDK side, and there is no official way to get IOTEDGE_DEVICEID env, so we will keep this issue open.
Just as adashen methioned, you can set env in deployment.debug.template.json for solution mode, and for single module mode, you can pass an env parameter through command line:

[code]

[2019-12-13 05:24] SLdragon commented on #148
Close due to already added fall back mechanism

[2019-12-13 05:24] #148 closed

[2019-12-13 15:23] wijkjh opened #257 "Failed to install on Python 3.7.3 [Windows]"
Running `pip install --upgrade iotedgehubdev` fails on Python 3.7.3, 3.7.5 and 3.7.6rc1 on Windows 10.

Seems to be related to pyaml:
`Building wheels for collected packages: pyyaml
  Building wheel for pyyaml (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\azure-modules\iotedge-moduletest\venv\scripts\python.exe' -u -c 'import sys, setuptools, tokenize; sys.a

[2019-12-13 15:46] wijkjh commented on #257
It does work on Linux (WSL).

[2019-12-16 05:26] czgtest commented on #62
local debug csharp module with windows container , breakpoint is not hit. so keep it open

[2019-12-16 06:38] adashen commented on #62
switch to amqp it works. It should be the SDK issue on mqtt. https://github.com/Azure/azure-iot-sdk-csharp/issues/574

[2019-12-16 08:53] SLdragon commented on #257
Hi, @wijkjh ,  I tried your suggested command for Python 3.7.3, but cannot repro this issue:

![image](https://user-images.githubusercontent.com/5545529/70890098-31373c80-201f-11ea-97ee-92e427682986.png)

We are using pyyaml (4.2b4 ) because the dependency docker-compose is not compatible with pyyaml >=5, and pyyaml < 4 has some vulnerabilities issues. So we can only use 4.2b4 as dependency.

From

[2019-12-17 08:01] its-phil opened #258 "SSL error when invoking direct method call to IOT device"
I have the following scenario:
- iotedgehubdev version 0.13.0 running on PC with Windows 10 1809.
- IOT device running Windows IOT core. One module registered.
- Both devices registered with IOT Hub using symmetric keys.

These actions can be performed successfully:
- invoke direct method from IOT Hub to module on iotedgehubdev,
- send message from IOT device to module on iotedgehubdev.

The issue

[2019-12-17 08:16] adashen commented on #258
@its-phil So do you mean you could make an moduleClient.InvokeMethodAsync call from one edge device to another edge device? Both of them installed real edge runtime?

[2019-12-17 08:32] its-phil commented on #258
@adashen My IOT device is a dev board running IOT core. If I run the code that I use on iotedgehubdev in an edge module on an iotedge system (Raspberry Pi) I can call moduleClient.InvokeMethodAsync to the IOT device without problems.

[2019-12-17 08:34] adashen commented on #258
@its-phil thanks for the information. We will investigate the issue and let you know the updates.

[2019-12-17 09:55] MaheshSQL opened #259 "transport.connect raise error (paho/mqtt/client.py)"
Hi,

When I run the IoT Edge Simulator on Ubuntu Azure VM (VM is in a vNet) I get below error for my custom IoT Edge module.

![image](https://user-images.githubusercontent.com/20829397/70984760-01a73380-20f6-11ea-99d7-bb07373c85b6.png)

The 'iotedgehubdev' is updated to the latest version.

Interestingly, when I run the same setup and run IoT Edge simulator on another Ubuntu VM (which is not in a

[2019-12-18 02:05] adashen commented on #259
@MaheshSQL Thanks for reporting the issue. Can you try to add the tempSensor module (mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0) into your deployment manifest. And check whether tempSensor module could connect edgeHubDev successfully. So that we could nail down the issue to python sdk?

[2019-12-18 04:38] MaheshSQL commented on #259
@adashen Thank you for looking into this.

I have added tempSensor module as per your suggestion and it throws below error.
![UbuntuVM_in_vNet_2](https://user-images.githubusercontent.com/20829397/71056167-387f5700-2193-11ea-8b1c-42abd1ef6c1d.png)

Hope this helps to identify the issue and resolution.

Thanks again.

[2019-12-18 04:48] adashen commented on #259
@SLdragon Please try to reproduce the issue in Azure VM with vNet.

[2019-12-19 05:16] blackchoey commented on #258
@its-phil Can you share repro steps for your problem? It would be great if you can also share some sample code here. I wasn't able to repro the issue you mentioned.

[2019-12-19 09:58] MaheshSQL commented on #259
@adashen and @SLdragon, thanks for your support.

I was able to resolve this issue by including below in the deployment manifest for my custom edge module.

"createOptions": {
  "NetworkingConfig": {
    "EndpointsConfig": {
      "host": {}
    }
  },
  "HostConfig": {
    "NetworkMode": "host"
  }
}

[2019-12-19 09:58] #259 closed

[2019-12-19 10:11] its-phil commented on #258
@blackchoey thanks for your reply. I'll try to list the steps I performed as detailed as I can remember:

iotedgehubdev is running on a PC, lets call it 'pc'.
Lets call the IOT device 'device' with ID 'deviceIdOfDevice'.

1. In the IoT hub on Azure create an IoT Edge device for 'pc' and an IoT device for 'device'.
2. Set up iotedgehubdev with the command `iotedgehubdev setup -c "<connectionString>

[2019-12-23 05:54] #176 closed

[2019-12-23 08:43] czgtest opened #260 "Could not connect to docker deamon when run arm64v8 image in simulator with docker_host"
On Windows10

1. open vscode and set docker_host in usersettings
` "azure-iot-edge.executor.env": {
        "DOCKER_HOST": "ssh://ubuntu@10.172.1.56"
    },`
2. create c# project
3. build and run in simulator for arm64v8
4. run in simulator with standalone failed

[code]

[code]

[2019-12-23 08:46] adashen commented on #260
@czgtest Please check the docker host setup. From the log, it was because your remote docker host not set up correctly. Please retest, and the suggestion here is use tcp to do sanity check. If success, please close the issue.

[2019-12-23 09:23] czgtest commented on #260
use "tcp://10.172.1.53:2375" to run IoT edge project in simulator ,it work well, so close it

[2019-12-23 09:23] #260 closed

[2019-12-24 02:29] SLdragon commented on #257
Hi, @wijkjh , did you solve your problem?

[2019-12-24 08:03] blackchoey commented on #258
@its-phil Thanks for your patient. Seems you're trying to connect your 'device' as downstream device to 'pc'. But I'm still unable to repro your problem under the downstream device scenario: I connected my 'device' as a downstream device to iotedgehubdev, the `InvokeMethodAsync` method call from IoT Edge module to 'device' succeeded.
Can you share whether you appended the `GatewayHostName=xxx` par

[2019-12-24 14:30] blackchoey commented on #209
@kiranpradeep If the EdgeHub container in IoT Edge runtime is deleted, IoT Edge runtime also need to connect to internet in order to start the modules. iotedgehubdev aligns with IoT Edge runtime on this.
The current offline capability in iotedgehubdev enables module keep running if you disconnects from internet, which provides the ability to test your module behavior when lost internet connection.

[2019-12-25 01:21] SLdragon commented on #257
Hi, wijkjh, I will close this issue, and if you still have problems, feel free to contact us.

[2019-12-25 01:21] #257 closed

[2020-01-07 06:40] its-phil commented on #258
@blackchoey Indeed, I append the GatewayHostName in step 5, so in your terms I am trying to configure the 'device' as downstream to the 'pc'. You mentioned that the InvokeMethodAsync call was successful from 'pc' to 'device'. This tells me that the direct method call should work in general. Did you have both your iotedgehubdev and your device registered with an IoT Hub?

[2020-01-10 07:17] SLdragon commented on #205
Hi, @toolboc , from our investigation, only docker-compose.yaml with version 2.3, 2.4 supported runtime config, and it is not supported by version 3.x.

https://github.com/docker/compose/issues/6239

So we will keep this issue open until docker-compose.yaml file 3.x supported this feature.

[2020-01-13 08:39] kiranpradeep opened #262 "[query] Is it possible to observe messges on the output endpoint during single module native debugging?"
Is it possible to see messages emitted to output endpoint of a module with out actual logging?

[2020-01-13 13:27] kiranpradeep opened #263 "[query] Invoking direct methods with curl"
While debugging a single module natively, is it possible to invoke a direct method with a curl command?

[2020-01-14 07:29] its-phil commented on #258
@blackchoey There's an interesting development: when I execute the project in Release mode from Visual Studio everything works just fine, i.e. I can invoke direct methods from iotedgehubdev to the downstream device. The SSL error only occurs in Debug mode.
I can't say that I understand why but maybe it helps you figure out what is going on.

[2020-01-15 02:06] blackchoey commented on #258
@its-phil The device used by iotedgehubdev and my physical device is under same IoT Hub. It's interesting that the SSL error only occurs in Debug mode. @SLdragon Can you help take a look?

[2020-01-15 02:23] adashen commented on #262
@kiranpradeep Can you provide more detail about the scenario? There is no log configuration to turn on/off output the message from endpoints. Normally user could print the log by custom code when sending message, or consume the output message.

Another way is you could seed the message routes in edgeHubDev module with log level "verbose". The configuration is:
Add env block of edgeHub in deploymen

[2020-01-15 03:14] kiranpradeep commented on #262
Thanks for the reply. It is for use while single module native debugging. When I provide a message on input endpoint using curl command, I like to see if the module worked correctly by observing messages from the output endpoint. I will try setting verbose on RuntimeLogLevel.

[2020-01-15 13:07] its-phil commented on #258
I think I figured out what goes wrong. Instead of using the Nuget package for Microsoft.Azure.Devices.Client I used the sources so I could debug the code. When invoking the direct method my Edge module tries to send a request to https://localhost/...
As it turns out, on my PC VmWare was serving something on https://localhost. The certificate was issued by VmWare so it is invalid for the Edge modul

[2020-01-15 13:07] #258 closed

[2020-01-16 05:19] SLdragon commented on #263
Hi, @kiranpradeep , you can use the curl to call direct methods, the docs can be found here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods#example

First, you can use Azure IoT Tools to generate **IoT Hub** SAS Token:
![image](https://user-images.githubusercontent.com/5545529/72495762-8ce52780-3862-11ea-85af-d233b7344251.png)

Then use the curl command below to Inv

[2020-01-16 07:17] kiranpradeep commented on #263
I am with limited access to internet (only outbund is via a corporate ssl decrypting http proxy) and so had raised #209. Then it was suggested [[comment](https://github.com/Azure/iotedgehubdev/issues/209#issuecomment-568758393)] that edgeHubDev needs to connect just once. Now for this a persistent conntetion will be required.

I can use the curl request to `localhost` for sending messages on input

[2020-01-16 09:41] kiranpradeep commented on #262
No. That did not help. All the edgeHubDev verbose logging gives for a message is a correlationId. Neither it prints the output message nor even the output endpoint on which the message is outputted to.

Logging by writing custom code is not a satisfactory experience.

[2020-01-17 08:32] blackchoey commented on #258
Thanks for the update @its-phil Glad to see the issue is resolved

[2020-01-20 02:23] SLdragon commented on #263
Hi, @kiranpradeep, according to the [docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods), direct method should called from IoT Hub side, so if you do not have internet access, then the direct method should not work.

Recently our simulator do not have mechanism to simulate direct method, and I will disccuss with team members about this.

[2020-01-20 02:38] kiranpradeep commented on #263
@SLdragon That is not true. We have an implementation in which uses direct methods between modules. The iotedge repository even have an [example](https://github.com/Azure/iotedge/blob/1.0.8.4/edge-modules/DirectMethodSender/src/Program.cs#L70) for this. This approach was put forward by MS engineers itself for a usecase.

[2020-01-20 03:27] SLdragon commented on #263
Oh, thanks for your information.
When you're using single module debug, we created a helper container named "azureiotedge-testing-utility" which provide http endpoint to help user to send debug messages, the code can be found here: https://github.com/Azure/iot-edge-testing-utility, I think in the future release, we could add another endpoint point which help user to call direct method. I will keep

[2020-01-20 06:13] SLdragon commented on #262
Hi, @kiranbhaga , I think for your scenario, you should add logs to your custom modules before messages send to the output. edgeHubDev by default would not log message body and output endpoint.

[2020-01-20 07:04] kiranpradeep commented on #262
@SLdragon In-line with [comment](https://github.com/Azure/iotedgehubdev/issues/263#issuecomment-576091543) in #263, could the [iot-edge-testing-utility](https://github.com/Azure/iot-edge-testing-utility) be expanded in a future release to display messages on module output endpoints?

[2020-01-20 09:49] SLdragon commented on #262
iot-edge-testing-utility is just a rest api server, which used to send test message, I don't think it can used to monitor module messages flow. I think you can add your own log to custom module, that's should be reasonable.

[2020-01-24 11:36] Fredborg opened #264 "Environment Variables not working, EventGrid on Edge cannot run"
Hi,

It seems that Environment variables are not working in IoTEdgehub Dev.

Several Microsoft released modules, depends on Environment variables being set when starting up, but they are not when running using IoTEdgeHubDev - for instance EventGrid on Edge, depends on the following variables being set at startup:

IOTEDGE_MODULEID
IOTEDGE_DEVICEID
IOTEDGE_IOTHUBHOSTNAME
IOTEDGE_MODULEGENERATIONID

[2020-02-03 02:27] adashen commented on #264
Hi @Fredborg, currently EventGrid module is not supported to run on simulator. And the required set of  environments are only provided in real edge runtime. We will mark the issue as feature request and keep you updated when we have it enabled.

[2020-02-03 12:38] Fredborg commented on #264
Hi,

Thanks for the response - its very much appreciated :)

I believe the issue here, is not related to the EventGrid Module, but to the fact that Environment Variables doesnt work at all in the EdgeHub Dev simulator.

I tried a simple test. I created a new empty module called EnvVariableModule. In deployment.debug.template.json i confgiured the module with 1 Environment Variable called ENV_VAR l

[2020-02-03 13:18] Fredborg commented on #175
I tried a simple test. I created a new empty module called EnvVariableModule. In deployment.debug.template.json i confgiured the module with 1 Environment Variable called ENV_VAR like so:

`"EnvVariableModule": { "version": "1.0.0", "type": "docker", "status": "running", "restartPolicy": "always", "settings": { "image": "${MODULEDIR<../EnvVariableModule>.debug}", "createOptions": { "Env": [ "ENV_V

[2020-02-10 09:33] Fredborg opened #265 "Environement Variables are not working"
Hi,

I believe Environment Variables doesnt work at all in the EdgeHub Dev simulator.

I tried a simple test. I created a new empty module called EnvVariableModule. In deployment.debug.template.json i configured the module with 1 Environment Variable called ENV_VAR like so:

`"EnvVariableModule": { "version": "1.0.0", "type": "docker", "status": "running", "restartPolicy": "always", "settings": {

[2020-02-10 11:16] kgalic opened #266 "TLS handshake problem"
Hello,

We tried to deploy the OPC-UA publisher and custom module for OEE calculations and tried to use the simulator for the local testing and debugging of the custom module.

In the logs of the custom module and OPC publisher the following errors show up:

Unhandled Exception: System.AggregateException: One or more errors occurred. (TLS authentication error.) ---> System.Security.Authentication.

[2020-02-11 03:03] SLdragon commented on #265
Hi, @Fredborg, I think your env settings is not correct, please follow the example below to setup environment variables:

[code]

[2020-02-11 03:13] SLdragon commented on #262
If you have any other questions, feel free to contact us, and I will close this issue, thanks!

[2020-02-11 03:13] #262 closed

[2020-02-13 03:19] SLdragon commented on #265
Hi, @Fredborg, I also tested your settings, and it works, here is the sample config:

sample module:
[code]

Then in the generated docker-compose.yml file it could contain ENV_VAR environment variable:

[code]

So I think your setting is OK, after starting the module, please check the docker-compose.yml whether contain this env on your machine (you can find the yml file here: C:\ProgramData\iotedg

[2020-02-16 00:56] LarsKemmann commented on #224
Just a note that I ran into a seemingly similar issue when trying to create a custom CICD server using a self-hosted DevOps agent:

The resolution in my case was to run the DevOps agent _interactively_, as the same user that I had installed Docker Desktop for (I was using chocolatey), rather than as a service.

[2020-02-17 02:20] SLdragon commented on #266
Hi, @kgalic, thanks for your feedback, we will try to repro this issue, and will let you know the result.
By the way, could you please share more information about your custom module and your deployment.json file?

[2020-02-17 05:29] SLdragon commented on #238
Hi, @kiranpradeep , thanks for your information, and I checked the SDK code, and also found that they fix this issue 27 days ago.

https://github.com/Azure/azure-iot-sdk-csharp/blob/11e07d7724d8402524211db6846892de284b15de/iothub/device/src/Transport/Mqtt/MqttTransportHandler.cs#L956

[2020-02-17 07:54] czgtest commented on #266
I create a OPCPublisher project from VSCODE marketplace and run this solution in simulator , can't repro on this issue, @kgalic  which OPCPublisher project do you use ? can you share some document about your solution?

here is my step:
1.install edge extension in vscode
2.press F1 and run command "Azure IoT edge: new IoT edge solution"
3.select Module from Azure marketplace
4.chose OPCPublisher pr

[2020-02-17 08:25] kgalic commented on #266
this is what I added in the modules section of deployment.template.json:

"opcpublisher": {
            "version": "1.0",
            "type": "docker",
            "status": "running",
            "restartPolicy": "always",
            "settings": {
              "image": "mcr.microsoft.com/iotedge/opc-publisher:latest",
              "createOptions":
              {
                "Hostname": "p

[2020-02-18 02:29] SLdragon commented on #266
Hi, @kgalic, from your error message, it seems not related to the connection string but related to the cert validation. Which sytem do you use to run this module?

PS: if you want to get IoT Hub connection string, you can follow the link to copy IoT Hub connection string from Azure Portal

[2020-02-18 08:08] czgtest commented on #266
@kgalic   I use your provided opcpublisher json and run in simulator on Windows10,  Can't repro this issue, Can you share your project for us ?

here is my step:
1.install edge extension in vscode
2.press F1 and run command "Azure IoT edge: new IoT edge solution"
3.select C# module
4.open deployment.template.json and add  your provided opcpublisher json
`"opcpublisher": {
            "version": "1

[2020-02-18 22:09] kgalic commented on #266
[EdgeTest.zip](https://github.com/Azure/iotedgehubdev/files/4221885/EdgeTest.zip)

[2020-02-19 09:28] czgtest commented on #266
@kgalic  I try your project on Windows10  PC,  can't find TLS authentication error,  do you run this module on Mac ?  if yes, it has cert issue #30 when debug C# module , and has a  workaround provided [here ](https://github.com/Azure/iotedgehubdev/issues/30).

[2020-02-19 11:04] kgalic commented on #266
That is good to know, thank you. For this occasion, I used Win 10 PC.

[2020-02-20 01:54] SLdragon commented on #266
Hi, @kgalic , from the error message, seems that it is related to the certificate, so maybe you can try this below:

1. Remove the iotedgehubdev config folder in "C:\ProgramData\iotedgehubdev"
2. Re-setup iotedgehubdev in the vscode through command palette "Azure IoT Edge: Set up IoT Edge simulator"

If the above not works, try different version of the package "Microsoft.Azure.Devices.Client" in t

[2020-02-20 02:51] SLdragon commented on #265
Hi, @Fredborg , have you solve your problem? And I will close this issue, if you still have problem, feel free to contact us

[2020-02-20 02:55] SLdragon commented on #264
Hi, @Fredborg , for you questions about Environment Variables, please refer this issue: https://github.com/Azure/iotedgehubdev/issues/265

[2020-02-20 17:21] kgalic commented on #266
I removed everything from iotedgehubdev and SampleModule now works. However, opc publisher is still struggling to pick up the module connection string and I am getting the following error:

[code]
Even after adding _HUB_CS to env, and trying with normal device connection string, and module connection string.

[2020-02-24 01:19] SLdragon commented on #266
Hi, @kgalic, you should use IoT Hub connection string for _HUB_CS, here are some documents: https://github.com/Azure/iot-edge-opc-publisher/tree/master#command-line-options

[2020-02-25 10:36] #266 closed

[2020-02-27 02:00] SLdragon commented on #238
As discussed with team members, we will keep -l parameter due to stability reason, thank you all the same of the information.

[2020-02-27 02:00] #238 closed

[2020-03-05 13:37] junsaw commented on #266
@SLdragon thanks alot for the assistance.  For anyone else who is experiencing this issue and are using Docker Desktop for Windows as part of their development work-space. This is as a result of a time drift between the VM used  for Linux containers on Windows machines:

The following commands can be used to sync the time between the Host Machine and the VM:

Get-VMIntegrationService -VMName Docke

[2020-03-10 20:23] peirens-bart opened #267 "Setup input binding when debugging in vs19"
I'm new to IoT development, and I'm creating a generic module so I just need to add 1 dll to the container image for changing the behaviour for the whole module.
in vs19 it's working except for one part, debugging a single module message input using curl or postman with an input different then "input1"

My code is mapping the method names to a generic message handler, this way I can use method.inp

[2020-03-11 04:58] SLdragon commented on #267
Hi,  @peirens-bart , for current version of Visual Studio extension, it will parse the input name according to your routes settings, for exameple, if your routes settings is as below:

[code]

Then Visual Studio would call iotedgehubdev start -i "input3"

And for your request, I will disccuss with team members and maybe we would add an additonal settings for input name in future release of our ext

[2020-03-11 05:36] peirens-bart commented on #267
@SLdragon thank jou for the answer.

Do you known if there is a solution if I don't have a module yet for the input?
Can  I  bind the same handlerlogic to a methodhandler and use CTD methods for testing?

[2020-03-11 06:43] SLdragon commented on #267
Currently, only VSCode edge extension can assign input name manually, if you want to use custom input name, you can try our VSCode extension, and it also very convenient to use.

Take a look and have a try:
https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-edge

[2020-03-11 10:31] peirens-bart commented on #267
@SLdragon Ok, I'll wait for now, VsCode is not an option for now.

I've created a workaround with some extra code
in de launchSettings.json I added commandLineArgs --addinput1=true --mapInput1to=startsendingevent

And now like aps.net I created a ModuleHostbuilder
`public static ModuleStarter Build(string[] args)
        {
            var configuration = new ConfigurationBuilder()

[2020-03-12 03:40] SLdragon commented on #267
Thank you @peirens-bart for your information, to add config in the launchsettings.json file is a solution, however, it would introduce some extra logic in the code to handle this.

I think the root cause of this problem is that edge module do not have a property to describe the usage of  input name, so we can only infer it from routes settings or ask user to provide it.

For VSCode it is flexible

[2020-03-12 06:15] SLdragon commented on #267
Hi, @peirens-bart, by the way, which circumstance as you said " there is a solution if I don't have a module yet for the input", if there is no module yet, I think visual studio cannot start single module debug, it only works when set a module project as an startup project

[2020-03-12 17:39] peirens-bart commented on #267
@SLdragon, It is working. I just need to press F5 when the module is the start up project.

the thing is, input will come from a module that connects to the hardware, this will send the raw input to a processing modules, what can be of any kind. the implementation is behind an interface. so my docker build will copy the correct dll and I have another module.
the module wrapper is the one I want to

[2020-03-16 02:26] SLdragon commented on #267
Thank you @peirens-bart , I know your scenario

[2020-03-18 02:59] SLdragon commented on #267
Hi, @peirens-bart, could you also provide some samples about your project, so that we can take a look  to verify if we can support it, thanks!

[2020-03-18 13:55] peirens-bart commented on #267
I created a light version
`curl --header "Content-Type: application/json" --request POST --data '{"inputName": "input1","data":"{\"prop1\":1}"}' http://localhost:53000/api/v1/messages`
to invoke the input 1.
it is not possible to use InputEvent1 or InputEvent2 as inputname.
for this ot work the call to
`iotedgehubdev\v0.13.0\iotedgehubdev start -i "input1"`
need to change
`iotedgehubdev\v0.13.0\io

[2020-03-25 14:14] alesomas commented on #62
Hi, I'm not able to start iotedgehubdev having docker set with Windows containers (switching to Linux containers it works); I receive the following error trying to start it from cmd:

_Network azure-iot-edge-dev is external, skipping
ERROR: Could not start container: af67a255c6ea3474d53fc6092509ce68438d5d4d893aaa0e55d4a5dbd39f3066 : 500 Server Error: Internal Server Error ("failed to create endpoi

[2020-03-26 08:26] SLdragon commented on #267
Thank you peirens-bart, I just tried your sample project and it works fine, I put a full project sample here and maybe others meet this issue can refer:

[SampleProject.zip](https://github.com/Azure/iotedgehubdev/files/4385900/SampleProject.zip)

[2020-03-26 10:07] peirens-bart commented on #267
mayby usefull to add envirinment variables in the launchsettings, since the moduleid is not filled in in the device twin properties. even the live version the moduleid is not filled in but you need to use the same veriable.
on azure
![image](https://user-images.githubusercontent.com/18715894/77634837-ebf5a580-6f51-11ea-8aed-050facba41b4.png)

add to launchsettings.json

[code]

in code do this

`_

[2020-03-30 09:54] mikanyg commented on #265
@SLdragon Which version of iotedgedev did you test on? I am seeing same issues as @Fredborg.

I cannot get the "Env" to work in createOptions when debugging in iotedgedev.

[2020-03-30 12:56] mikanyg commented on #265
@SLdragon I have tried experimenting some more on using environment variables with C# custom iot edge modules, and I will try to highlight my findings.

My setup
OS: Windows 10 (1909)
Docker Desktop (2.2.0.4)
Docker Engine (19.03.8)
Visual Studio 2019 Pro (16.5.1) with Azure Iot Edge Tools for VS2019 Extension (v1.5.0)
iotedgehubdev: 0.13.0

Sample solution:
1. Created new C# Azure Iot Edge (Linux

[2020-03-31 14:05] kbeaugrand opened #268 "SSL verification issue when starting edge Hub Dev"
Hi,
I'm facing issues while starting the edge hub dev behind my corporate proxy.
The proxy is intercepting the HTTP streams and re-cipher the stream with its own certificate authority which is not globally trusted.
Here is the error I'm facing :
[code]

When testing the SSL certificate I can confirm the issue:

[code]

Is there a way to specify the trusted root certificates for iot edge hub dev ?

[2020-04-02 01:39] SLdragon commented on #268
Hi, @kbeaugrand , edge hub dev do not have settings to setup the trusted root certificates, I think you should trust your cert in system level.  You can follow this link to trust it: https://docs.microsoft.com/en-us/skype-sdk/sdn/articles/installing-the-trusted-root-certificate

[2020-04-03 17:48] kbeaugrand commented on #268
Hi,

The certificate used by the proxy is well-known by the system.
BTW, messages shown by the openssl client is present only because the certiticate is not present in the openssl default store.

Do we have to install the certificate in the python's store (for example, by using certify, ...) ?

Regards,

[2020-04-07 04:27] SLdragon commented on #268
Hi, kbeaugrand,
The problem is that Python request library do not use system certificates store, so you would meet this error.

Our simulator now do not have ways to setup python request certificate store now, and I think you can try certify which is supported by request library.

Here are some discusses about this, maybe you can refer:
https://stackoverflow.com/questions/10667960/python-requests-

[2020-04-09 13:44] AMCN41R opened #269 "TLS authentication error - The remote certificate is invalid"
Hi

I'm running into the following exception when trying to run my custom modules using the dev tool:
[code]

I have created a brand new device in Azure IoT Hub, and run `iotedgehubdev setup` again, and experience the same issue.

Running in docker on Windows 10
Custom modules are C#
iotedgehubdev --version: 0.13.0
Microsoft.Azure.Devices.Client nuget package version: 1.24.0
edgeAgent: 1.0.9
edgeH

[2020-04-10 02:27] SLdragon commented on #269
Hi, @AMCN41R , from the error message, seems that it is related to the certificate,
for certificate issue, you can try to resetup iotedgehubdev:
- Remove the iotedgehubdev config folder in "C:\ProgramData\iotedgehubdev"
- Re-setup iotedgehubdev in the vscode through command palette "Azure IoT Edge: Set up IoT Edge simulator"
- If the above not works, try different version of the package "Microsoft

[2020-04-10 09:57] AMCN41R commented on #269
Hi @SLdragon, thanks for the quick response. Turns out it was the time drift issue.

I toggled the time time synchronization option on the docker vm integration services settings as described in [#266 (comment)](https://github.com/Azure/iotedgehubdev/issues/266#issuecomment-595233648).

Thanks for your help.

[2020-04-10 09:57] #269 closed

[2020-04-20 20:36] mikanyg commented on #265
@SLdragon Any chanche this issue could be reopened, please see all my [findings](https://github.com/Azure/iotedgehubdev/issues/265#issuecomment-605982472) with environment variables not working in VS2019. Some of these scenarios I would expect to work when developing with VS2019.

[2020-04-21 11:24] kiranpradeep commented on #262
@SLdragon To add, now we have a scenario in which, some modules are written by 3rd parties (different company) who will not give access to source code. They just share the docker image. Then we cannot add logs to verify if the 3rd party module is working?

[2020-05-17 20:18] sramshaw commented on #199
reproduced on LXLE distro.
   Static hostname: ****
         Icon name: computer-vm
           Chassis: vm
        Machine ID: ****
           Boot ID: *****
    Virtualization: oracle
  Operating System: Ubuntu 18.04.4 LTS
            Kernel: Linux 4.15.0-99-generic
      Architecture: x86-64

[2020-05-21 06:41] SLdragon commented on #199
HI, @sramshaw, this issue mainly caused by the python interpreter has corrupt. Please try to install the latest version and try again.

If you still have problem, you can give  us some more detailed information such as Python version, simulator version, we will take a try

[2020-05-21 17:22] fgsantos89 opened #272 "Can't install version 0.13.0 on Python 3.8.2"
Documentation says this package supports Python 3.8 but when installing the last version with this command on Ubuntu 20.04:
sudo pip3 install iotedgehubdev==0.13.0

Give this error:
ERROR: Package 'iotedgehubdev' requires a different Python: 3.8.2 not in '>=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.*, <=3.8'

[2020-05-25 02:03] SLdragon commented on #272
Thank you for your feedback, we will fix this issue in the next release

[2020-05-25 07:13] SLdragon commented on #272
@fgsantos89 , the issue has been fixed in 0.14.0, please take a try, thank you!

[2020-05-25 23:12] fgsantos89 commented on #272
Thanks, it's working. :smile:

[2020-05-25 23:12] #272 closed

[2020-05-28 09:00] StefanoIacona opened #274 "Threat detected: Trojan:Win32/Zpevdo.A in iotedgehubdev.exe"
Hi,

this morning I faced this issue. Uninstalled IoT Edge Tools for VS 2019. Did a full Windows Defender scan and reinstalled it. Still it is detected as a threat!

![image](https://user-images.githubusercontent.com/66061506/83121304-6964a000-a0d2-11ea-86ca-4bbb7c455782.png)

[2020-05-28 09:43] karakal commented on #274
The same problem here!

[2020-05-28 15:58] fjruben commented on #274
+1

[2020-05-28 20:42] sjscheider-tt commented on #274
Yep, me too!

[2020-05-28 21:48] andrepodnozov commented on #274
Same issue with Visual Studio Code:
<img width="483" alt="IotedgehubdevTrojan" src="https://user-images.githubusercontent.com/10746890/83197367-3cc08080-a0f2-11ea-82e8-1444f1403a0e.png">

[2020-05-28 21:51] dcokely7 commented on #274
Same Issue with VS 2019, first attempt to start the edgehubdev gets it flagged and deleted by Windows, subsequent runs show it removed:

[ERROR]: Failed to run 'iotedgehubdev setup -c connectionstringhere' with error: Cannot find executable of Azure IoT Edge simulator, please click menu 'Tools -> Azure IoT Edge Tools -> Update IoT Edge simulator' to reinstall simulator and try again.

[2020-05-29 01:07] shizn commented on #274
Thanks for reporting this issue. We are investigating this issue now.

[2020-05-29 01:35] SLdragon commented on #274
Thanks for reporting this issue, seems like it is a false positive of windows defender, we are now investigate the root cause

[2020-05-29 06:01] SLdragon commented on #274
Hi, everyone, we updated our simulator to 0.14.1, now the  windows defender false alarm issue has been solved. We are now contacting Windows Defender team for more information about this. You can just reopen vscode or visual studio, then it would download the latest version

[2020-05-29 06:36] StefanoIacona commented on #274
Hi,

thanks! It's working now again.

[2020-06-30 10:56] fbrandao opened #279 "[Question] Listen to a single module output while under debug/test?"
Hi,

Currently we have a solution which includes multiple modules that send messages to each other, and if we want to debug any module in isolation we can using the single module approach, but this as far as i know only gives you the option of specifying the inputs that you can then use to send messages to the module.

How about the output messages of that module? Is there any way of "listening" t

[2020-07-01 05:17] SLdragon commented on #279
Hi, fbrandao, I think you can use console logs to "listening" outgoing message, current there is no interface to monitor the output.
For single module debug, we add an utility container which would send messages to the specific input, and we cannot mornitor the outgoing messages from modules, so I think the best way to monitor is to add some console logs for that.

[2020-07-02 07:52] fbrandao commented on #279
Hi @SLdragon ,

Thanks a lot for the reply.
Yes we already use that approach for debugging, ie we have logs in console to see what messages are being received.

Are you aware of any tool/implementation that would resemble black box testing for individual azure iot edge modules?

We want to verify that every module is doing its job correctly in isolation, yes we have unit tests, but we want to try

[2020-07-02 08:51] SLdragon commented on #279
Hi, @fbrandao, as far as I know, there is no black box testing for the modules. You can add some end to end test for your project.

For example, in our iotedgehubdev project, we have E2E test, which would try to invoke command from iotedgehubdev and start the Edge modules and send messages, then it will check whether the output is correct to ensure that each command works fine.

related code can b

[2020-07-09 04:59] shizn commented on #264
Similar to https://github.com/Azure/event-grid-iot-edge/issues/2

[2020-07-13 01:48] SLdragon commented on #279
Hi, fbrandao, I am going to close this issue due to it is a question, feel free to create another issue if you still have problems, thank you!

[2020-07-13 01:48] #279 closed

[2020-08-03 20:14] darenm opened #281 "Build and Run IoT Edge Solution in Simulator fails on LODS VM environment"
When attempting to build a custom IoT Edge c# module using the VS Code IoTEdge extension within the Learning On Demand (LODS) virtual environment, the command fails with the following error message:

Error
[code]

The LODS VM has the following installed:

* WIndows 10 2004 19041.329
* Python 3.8.5
* pip installed iotedgehubdev 1.14.1
* Docker version 19.03.12
* WSL 2 running
  * Legacy V1
  * dock

[2020-08-04 15:16] darenm commented on #281
I executed the lab in an ExpressLabs virtual environment and the command executed OK - I noticed that in this environment the `iotedgehubdev` command is executed using PowerShell rather than bash. The environment has different versions of Python and Docker:
* Python - 3.7.6
* Docker version 19.03.5

[2020-08-26 12:58] amit12cool opened #282 "ConnectionString not available for Edge device provisioned with X509"
Im not able to run the below command

[code]
As my edge device was provisioned with DPS using X509 and there no connection string available for that case.  Let me know how can i generate the connection string for edge device

And if i use below connection string:

[code]

using command

[code]

The error I get is

[code]

[2020-08-31 08:56] thomashoef commented on #30
@rlimberger Hi René, I am facing the same issue. Did you manage to resolve the second error? Thanks!

[2020-09-01 03:45] SLdragon commented on #282
Can you access the azure portal of IoT Hub? If so, you can get the edge device connection string here.

If you cannot access the azuere portal but you have the iothub connection string, you can use Azure IoT Tools in the VSCode to manage the device. For more information, please check this url:
https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-tools

[2020-09-01 03:48] SLdragon commented on #281
same with the issue here: https://github.com/microsoft/vscode-azure-iot-edge/issues/556

[2020-09-04 17:50] #282 closed

[2020-09-07 15:09] gerlitm101 opened #283 "Unable to authenticate client module due to outdated token"
Hello Everyone,

I try to build and run iotedge modules in simulator using Visual Studio 2019 and **Windows Containers**. My assumption is that the sas token requested by edgehubdev container is outdated and so the modules are not able to authenticate. Maybe the windows container or windows image has wrong time zone or no time synchronization with my local machine?

I'm not very experienced in cre

[2020-09-08 01:12] SLdragon commented on #283
Hi, @gerlitm101 , you can first check whether there is a time drift between the VM and your local system, if the time is wrong, you follow the link below to sync your time:

https://github.com/Azure/iotedgehubdev/issues/266#issuecomment-595233648

[2020-09-08 04:46] gerlitm101 commented on #283
Hi @SLdragon, thanks for reply. I already disabled and enabled the time synchronization via powershell and restarted my docker engine. Unfortunatly still the same problem that the sas token is generated for two hours earlier than my time is :(

[2020-09-11 06:02] SLdragon commented on #283
You can view the logs to see whether the time in the container is correct. If it isn't correct, you need to sync it and restart the vm.
If you are using the physical machine, you should make sure the local system time is correct

[2020-09-17 09:34] gerlitm101 commented on #283
Found out that my issue is due too corporate network proxy. Anyway, thanks a lot for your support :). I will close the ticket.

[2020-09-17 09:34] #283 closed

[2020-09-24 06:51] sacvalleytech commented on #257
Docker-Compose currently supports PyYAML <=5.0 can the dependencies be bumped?

[2020-10-07 12:33] Suizi11 opened #287 "Simulator startup extremely slow (Python CPU utilization 100%)"
For about 6 weeks the simulator startup process is very, very slow. First, the tool tries to login at the container registry, stops the edgeHubDev and removes all the containers from previous runs. After the network check (or whatever this is intended for) the process hangs for about 1 minute. During this time I've one "Python" process in the activity monitor (macOS) which uses 100% of the CPU the

[2020-10-07 21:56] marianan commented on #287
Thank you filing the issue and sharing the logs - I don't see any issues with the logs you shared. Could you try to install some of the previous releases to see if the performance is consistently better - this will help narrow down any possible regressions.

[2020-10-09 12:12] Suizi11 commented on #287
Unfortunately not, python process still at ~100% and startup takes about 3 minutes.

<img width="1134" alt="image" src="https://user-images.githubusercontent.com/11649054/95581319-1401ad80-0a39-11eb-80a3-48bfc3c8604b.png">

I've installed version 0.11.1, because this one isn't available https://pypi.org/project/iotedgehubdev/0.13.0/

`pip3 install iotedgehubdev==0.13.0
ERROR: Could not find a vers

[2020-10-16 23:09] marianan commented on #105
Issue is resolved in v0.14.2

[2020-10-16 23:09] #105 closed

[2020-10-17 01:02] c0ns0le commented on #274
Sophos Home detects this binary to be a 'Potentially unwanted application'

![2020-10-16 19_55_53-VSCODE_INSIDERS_ERROR](https://user-images.githubusercontent.com/677584/96325047-784ce000-0fea-11eb-9417-25c43dd5befa.png)

[2020-10-17 11:38] chull434 opened #288 "[0.14.2] ModuleNotFoundError: No module named 'pkg_resources.py2_warn' [19044] Failed to execute script pyi_rth_pkgres"
Hi,

Was working all fine yesterday but today when I went to start debugging vs code said this package was updating and now it throws this python error of missing a package, please advise, thanks

(base) PS C:\dev\--project-name--> & "c:\Users\--user-name--\.vscode\extensions\vsciot-vscode.azure-iot-edge-1.23.0\iotedgehubdev\0.14.2\iotedgehubdev" setup -c "--connection-string--"
Traceback (most re

[2020-10-17 18:51] JorTurFer commented on #288
I have the same issue here

[2020-10-18 04:16] longday24 commented on #288
Same issue executing any argument (start, stop...) on iotedgehubdev.
I have uninstalled all traces of python, reinstalled azure iot edge tools.

iotedgehubdev installed with pip install --upgrade iotedgehubdev works fine. VS extention uses a precompiled iotedgehubdev loaded into documents/visual studio 2019/iotedgehubdev.

[9904] Failed to execute script pyi_rth_pkgres
Traceback (most recent call

[2020-10-18 10:34] chull434 commented on #288
Same I tried hacking around seeing if I could find where to set it back to previous version (0.14.1) as I am fairly sure it was all working fine yesterday but couldn't fine anything. Even tried deleting 0.14.2 and manually downloading previous version in instead but it force updates and downloads 0.14.2 again

[2020-10-18 10:51] chull434 commented on #288
ok missive hack but I got it to work for me again and am unblocked 😄

- download the v0.14.1 zip from [releases](https://github.com/Azure/iotedgehubdev/releases/tag/v0.14.1)
- delete files in ".vscode\extensions\vsciot-vscode.azure-iot-edge-1.23.0\iotedgehubdev\0.14.2\"
- unzip and paste in v0.14.1 in place of where v0.14.2 file where

This proves issue is somewhere in v0.14.1, must be the curse o

[2020-10-19 10:11] fbeltrao commented on #288
I am having the same issue as described here. Was working last week. Currently cannot debug IoT Edge application from Visual Studio 2019.

[2020-10-19 12:13] lakshmisivareddy commented on #288
I am having the same issue

[2020-10-19 12:36] AnlauTriCloud commented on #288
Same issure here as well

[2020-10-19 12:49] marxxxx commented on #288
Same here since updating VS to 16.7.6. Can also be reproduced with a brand-new empty Azure IoT Edge project.

[2020-10-19 12:52] Suizi11 commented on #287
Hey @marianan - I think I've found some important additional information for you.

I can only reproduce this behavior if a "Binds" array is provided in the deployment manifest, e.g. my create options look like as following:
[code]

If I remove the binds object everything works fine and fast.

[2020-10-19 13:02] AnlauTriCloud commented on #288
Downgrading iotedgehubdev to v0.14.1, simply by replacing the files, also seemed to fix the problem for me.

[2020-10-19 14:56] nouira commented on #288
Same problem here too. Downgrading works for me.

[2020-10-19 19:14] JAgostoni commented on #288
Argh. And VS 2019 auto-upgrades on me.

[2020-10-19 19:35] JAgostoni commented on #288
FYI, just working from the command line directly for now.  Used PIP to install an older version:
```pip uninstall iotedgehubdev```
```pip install 'iotedgehubdev<=0.14.1'```

[2020-10-20 20:19] uriel-kluk commented on #288
I tried downgrading but I still have the same issue.

[ERROR]: [9884] Failed to execute script pyi_rth_pkgres
Traceback (most recent call last):
  File "lib\site-packages\PyInstaller\loader\rthooks\pyi_rth_pkgres.py", line 11, in <module>
  File "d:\a\1\s\venv\lib\site-packages\PyInstaller\loader\pyimod03_importers.py", line 627, in exec_module
  File "lib\site-packages\pkg_resources\__init__.py",

[2020-10-20 21:06] dvescovi1 commented on #288
same issue here. Stopped me in my tracks.

[2020-10-20 22:04] dvescovi1 commented on #288
somebody needs to fix this and fix it fast.

[2020-10-21 13:29] amogh79 commented on #288
I am still getting version 0.14.2 from Visual Studio 2019->Tools->Azure IoT Edge Tools->Update IoT Edge Simulator. How do I force pull the latest version 0.14.3rc0 from Visual Studio 2019? Please assist.

[2020-10-21 22:08] uriel-kluk opened #291 "[0.14.3] does not install"
You closed issue #288
But I tried `pip install --upgrade iotedgehubdev` and still get 0.14.2

I tried removing and reinstalling the Azure IoT Edge Tools extension, but did not help

I finally tried `pip install --upgrade setuptools` but NADA

Please explain how to install 0.14.3

Thank you

[2020-10-22 10:50] dvescovi1 commented on #291
I can also confirm @uriel-kluk findings. Both Visual Studio 2019 Extension and Visual Studio Code are still unusable as they unconditionally install iotedgehubdev which seems to pulls 0.14.2 no matter what.

[2020-10-22 12:38] amogh79 commented on #288
@marianan I upgraded setup tools to latest version 50.3.2 but when I am still getting version 0.14.2.

[2020-10-23 01:06] uriel-kluk commented on #288
@marianan Release v0.14.3 is now posted on this GitHub repo, but the update tools are not able to grab it.
Please see the traces when trying to grab a particular distribution.

How can I install using the zip file?

[code]

[2020-10-23 05:26] marianan commented on #288
The iotedgehubdev release 0.14.3 is fully deployed and resolves the original issue. Please updated the thread if the original symptoms are still present after installing 0.14.3.

[2020-10-23 11:25] uriel-kluk commented on #288
@marianan it now installs 0.14.3 but when I try to run I still get the same original problem.
How can I help you to replicate? Do you need source?

Traceback (most recent call last):
  File "lib\site-packages\PyInstaller\loader\rthooks\pyi_rth_pkgres.py", line 11, in <module>
  File "d:\a\1\s\venv\lib\site-packages\PyInstaller\loader\pyimod03_importers.py", line 627, in exec_module
  File "lib\sit

[2020-10-23 11:49] dvescovi1 commented on #288
everything working for me now @marianan thank you!

[2020-10-23 13:45] uriel-kluk commented on #288
I did an update using the VS2019 > Tools > Azure IoT Edge Tools > Update IoT Edge Simulator
I get the message:
Download and install...

but if I look in [my user]\documents\Visual Studio 2019\iotedgehubdev
I only see 0.14.2

End when trying to Build and Run IoT Edge Modules in Simulator I got:
C:\Users\UrielKluk\Documents\Visual Studio 2019\iotedgehubdev\**v0.14.2**\iotedgehubdev start -d "C:\_Src

[2020-11-03 00:28] konichi3 commented on #291
The root cause was resolved in version 0.14.3 of iotedgehubdev Azure/iotedgehubdev#288. If you are still experiencing the same symptoms, please update this thread.

[2020-11-03 00:29] konichi3 commented on #288
The root cause was resolved in version 0.14.3 of iotedgehubdev If you are still experiencing the same symptoms, please update this thread.

[2020-11-06 19:03] Rumpkie opened #296 "python edge module errors in simulator."
I am developing on a Mac and I am having the following Error when I fire up my python module:

Traceback (most recent call last):
timerMonitor    |   File "/usr/local/lib/python3.7/site-packages/azure/iot/device/common/pipeline/pipeline_stages_mqtt.py", line 115, in _run_op
timerMonitor    |     self.transport.connect(password=self.sas_token)
timerMonitor    |   File "/usr/local/lib/python3.7/site

[2020-11-09 22:23] konichi3 commented on #291
Closing the issue. Please let us know if this still reproduces

[2020-11-09 22:23] #291 closed

[2020-11-09 22:24] konichi3 commented on #288
Closing. Pls let us know if this issue still persist

[2020-11-09 22:24] #288 closed

[2020-11-23 23:02] marianan commented on #296
Thanks for reporting this issue. Could you please share more details about your exact repro steps?

[2020-12-08 11:16] Noppey commented on #175
When setting an environment variable, how does one interpolate the device id as the proper value? Let's say in solution mode.

[2020-12-18 11:10] cjrada commented on #265
Did this issue ever get resolved?  I've tested as per @mikanyg with identical results.  I would expect these solutions to work.  I don't see any workaround or alternate solution listed.  Does this issue need to be reopened?

[2020-12-18 14:41] marianan commented on #265
@mikanyg and @cjrada - thank you for reporting this issue. We have added it to our backlog for investigations and will follow up here when we have details to share.

[2021-01-09 00:54] konichi3 commented on #30
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:54] #30 closed

[2021-01-09 00:55] konichi3 commented on #62
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:55] #62 closed

[2021-01-09 00:55] konichi3 commented on #175
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:55] #175 closed

[2021-01-09 00:55] konichi3 commented on #179
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:55] #179 closed

[2021-01-09 00:55] konichi3 commented on #188
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:55] #188 closed

[2021-01-09 00:56] konichi3 commented on #205
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:56] #205 closed

[2021-01-09 00:56] konichi3 commented on #209
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:56] #209 closed

[2021-01-09 00:56] konichi3 commented on #263
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:56] #263 closed

[2021-01-09 00:56] konichi3 commented on #264
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:56] #264 closed

[2021-01-09 00:56] konichi3 commented on #265
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:56] #265 closed

[2021-01-09 00:57] konichi3 commented on #267
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:57] #267 closed

[2021-01-09 00:57] konichi3 commented on #268
Hi

Thank you for filing the issue.

We are looking to clean up the reported issues that are obsolete such that our team can focus on the latest issues reported.
As such, we are going to close the issue for now.

If the issue is still blocking or critical to you, please file a new issue and we will do our best to respond as soon as possible.
When you file a new issue, please ensure following addit

[2021-01-09 00:57] #268 closed

[2021-01-09 00:58] konichi3 commented on #281
microsoft/vscode-azure-iot-edge#556 is closed. Closing

[2021-01-09 00:58] #281 closed

[2021-01-09 01:00] konichi3 commented on #296
@Rumpkie
It would be good if you can provide additional detail and repro steps.

[2021-01-11 23:53] konichi3 commented on #287
The issue is in our backlog now. Will circle back when we have an update

[2021-01-12 22:56] timstokman opened #297 "Error when using module settings in deployment file"
I've got iotedgehubdev version 0.14.3, python 3.8.5, ubuntu 20.04 LTS.

I'm trying to start a deployment:
[code]

I attached a debugger to see what was happening:

[code]

I've got this system module in my configuration:

[code]

Looks like in some cases _join_create_options returns a dictionary, which causes loading of the modules to fail.

[2021-01-13 23:47] #297 closed

[2021-01-13 23:47] timstokman commented on #297
I missed something obvious, sorry, not an issue

[2021-01-17 00:05] gopimails opened #302 "edgeHubDev Processing pending subscriptions for module: Exhausted Iot hub Daily messages quota"
I have EdgeHub Dev with vscode for my development and is connected to IoT hub. I was all working good; but today I did a docker system prune volume to free some space.

Post that, when I am running(build and run IoT Edge solution in simulator) the solution, receving
**edgeHubDev  | <6> 2021-01-16 23:35:21.575 +00:00 [INF] - Processing pending subscriptions for myedgedevice/mymodule1
edgeHubDev   |

[2021-01-20 05:08] marianan commented on #302
Hello @gopimails , thanks for posting your question. Two questions:
1. Could you please try to deploy your modules to a real device and let us know if the issue persists?
2. Could you please share full log for us to investigate, these 2 lines unfortunately are not sufficient for root causing.

[2021-01-20 05:14] marianan commented on #296
Hello @Rumpkie, I am closing this issue as we have not heard back on the repro steps for this issue. If the symptoms persist or you have any questions, please feel free to reopen the issue.

[2021-01-20 05:14] #296 closed

[2021-01-25 09:08] rodavrow opened #303 "iotedgedev.exe flagged as malware in Cylance"
Our corporate anti-virus Cylance is flagging iotedgedev.exe as malware.
VirusTotal and JoeSandbox are also reporting it as malware:

https://www.virustotal.com/gui/file/def966125bd2aca5a41bcbb580d1bb999f73cc7326f9d3eb46dd6834bf79693e/detection

Probably a false positive again, but we cannot just whitelist it until sure. Can the root cause be found and resolved? Thanks!

[2021-01-25 22:20] marianan commented on #303
Thank you for reporting this issue, we are looking into the issue and will get back to the thread once we have any details.

[2021-02-01 18:55] maroonmoon13 opened #304 "Cannot install on Ubuntu 16.04"
Installation of iotedgehubdev no longer works on Ubuntu 16.04. pip fails with followiing error:
[code]

[2021-02-02 18:30] smcd253 commented on #304
Hi @maroonmoon13, thanks for opening this issue. You mentioned in the issue on Azure/iotedgedev that you were experiencing this issue with pip3 as well, correct? If so, can you please try running the following sequence?
[code]

[2021-02-02 20:10] maroonmoon13 commented on #304
Hi,
This is hat I get when I try to upgarde pip
![image](https://user-images.githubusercontent.com/31255968/106656559-75a5d480-6560-11eb-97ca-4039a1066783.png)

[2021-02-02 20:22] smcd253 commented on #304
It seems like you're having issues with pip itself. I would recommend running the following and see if you're still having the same issues:
[code]
I would also recommend changing to python 3 if you can. While this tool still supports python 2, more and more packages are beginning to sunset support and you will find it increasingly difficult to maintain python 2 code bases with external dependencie

[2021-02-03 17:35] maroonmoon13 commented on #304
The above made no difference. Let me try pip3

[2021-02-03 18:37] maroonmoon13 commented on #304
On vanilla Ubuntu Server 16.04.7 install,
sudo apt install python3-pip
sudo pip3 install --upgrade pip==20.3.4
sudo pip3 install --upgrade iotedgedehubdev

thats what will work.

[2021-02-04 23:31] maroonmoon13 commented on #304
So, the installation went fine. I was also able to set it up and start a single module debug on my machine. But when I try to send a message using curl to debug my module, I get a "curl: (56) Recv failure: Connection reset by peer"
If I send the same curl message again, the error changes to "curl: (52) Empty reply from server"
Are there any logs which I can review/collect for you to see what the p

[2021-02-04 23:40] avagraw commented on #304
@maroonmoon13 can you please share how are you sending the curl request.
What tool are you using?
Also, what is the exact curl command you are running?

[2021-02-04 23:43] maroonmoon13 commented on #304
This is the command I am sending from the device shell:

`curl --location --request POST 'http://localhost:53000/api/v1/messages' --header 'MessageID: 123' --header 'MessageType: Request' --header 'Content-Type: application/json' --data-raw '{"inputName": "DataIn","data":"{\"data\": {\"command\": \"QueryWellListUserCommand\"}}"}'`

[2021-02-04 23:45] maroonmoon13 commented on #304
the device is a Ubuntu 16.04.7 server VM, which I connect to using ssh. I am also using VS code remote extension to develop. The module is developed and run on the server

[2021-02-09 21:10] maroonmoon13 commented on #304
Any other information I can provide to resolve this?

[2021-02-09 21:19] avagraw commented on #304
@maroonmoon13 it seems you may not be using the correct syntax, can you please try the following CURL command:

curl --header "Content-Type: application/json" --request POST --data '{"inputName": "input1","data":"hello world"}

This is a basic curl command to test if simple test messages are flowing through

[2021-02-09 21:43] maroonmoon13 commented on #304
I am using a different syntax because my module is a custom module. And from the error message, it doesn't look like a syntax problem.

In your suggestion, there is no location. I will try with that option and see if it makes any difference

[2021-02-10 19:37] RaiseYourChicken opened #307 "Can't run setup command: Error parsing string"
![image](https://user-images.githubusercontent.com/18746685/107561994-24888700-6bd7-11eb-814a-3a4c7b0e2431.png)

I tried this with both a pip installation (python2.7) and a pip3 installation (python3.6), in both cases I get the same message error. Any clues where this can come from, I searched on google for quite some time but there's very few information about azure edge.

[2021-02-10 22:36] stewartadam opened #308 "Cannot debug on MacOS"
Original discussion was in #30 and closed.

Local module debugging on MacOS produces an exception immediately upon launch:
[code]

Appears to be related to CA certificate setup. Unclear why one should remove the environment setting for MacOS, and if that cert needs to be trusted in the user's keychain that should be done by the tooling as a part of setup.

[2021-02-10 22:43] stewartadam commented on #308
Even after following the proposed workaround in #30 of trusting the certificate in Keychain Access and commenting out the environment variable in VS Code, debugging continues to fail with the exception
[code]

[2021-02-11 00:22] avagraw commented on #304
@maroonmoon13 were you able to try it out?

[2021-02-11 14:40] maroonmoon13 commented on #304
Yes. This is what I get.
`curl --request POST --header 'MessageID: 123' --header 'MessageType: Request' --header 'Content-Type: application/json' --data-raw '{"inputName": "DataIn","data":"{\"data\": {\"command\": \"QueryWellListOperationUserCommand\"}}"}'
curl: no URL specified!
curl: try 'curl --help' or 'curl --manual' for more information`

[2021-02-17 21:58] marianan commented on #307
Hello @RaiseYourChicken thanks for reporting this issue. -c parameter supplies a connection string and the string "undefined" in your example does not meet the syntax requirements for a connection string. Please refer to the Quickstart section of this repo for getting started with iotedgehubdev tool.

[2021-02-17 21:58] #307 closed

[2021-02-17 22:01] marianan commented on #308
@stewartadam thanks for reporting this issue. The issue is now added to our backlog for investigation. We will update this thread when available.

[2021-02-18 18:05] XavierGeerinck commented on #297
Hi @timstokman how did you solve this in the end? Getting the same error here...

Sadly enough the entire E2E experience of IoT Edge is a bit painful... one guide recommends the bundled VSCode experience, the other the `iotedgehubdev` tool. (Off-topic maybe, but reason for me is that I want twin property updates to come into the simulator, which made me look at `iotedgehubdev`)

[2021-02-18 18:33] timstokman commented on #297
@XavierGeerinck If you're getting the same error as I did, then you're probably mixing up deployment template and manifest syntax. You'd think the only difference is the environment variable substitution, but they're actually different formats. iotedgehubdev expects a manifest and breaks if you use template syntax. They're subtly different. The tool has some examples here in what it expects: https

[2021-02-18 18:42] XavierGeerinck opened #309 "Not able to receive Twin Property Updates"
Hi There!

I am currently trying to work with Twin Updating but am being unsuccessful. Would anyone know which steps I should follow for this? Is the simulator supporting C2D messages with Twin Property updates? :)

[2021-02-18 18:56] XavierGeerinck commented on #297
You are entirely right! Just tried utilizing the one in `config/*` and that worked! Thanks a lot! 😊

[2021-02-19 22:53] marianan commented on #309
Hi @XavierGeerinck thanks for reporting your issue. Could you please share detailed repro steps? C2D messages are supported. I would guess that there may be issues with the routes definition if the messages aren't arriving as expected.

[2021-02-20 09:13] XavierGeerinck commented on #309
Hi @marianan I have opened another issue for the Python SDK with more details, is it ok if I link to this one? (https://github.com/Azure/azure-iot-sdk-python/issues/737).

I tried starting with the `iotedgehubdev` (both tried bundled vscode version and standalone installation) and the `iotedgedev` dev container both none of them are receiving C2D messages with the updated Twin Properties.

[2021-03-01 22:21] konichi3 commented on #302
We are closing this issue for now. Feel free to reach back if you experience the same symptom

[2021-03-01 22:21] #302 closed

[2021-03-01 23:47] marianan commented on #309
Hi @XavierGeerinck , I am not sure of the correct callback to listen on (the SDK question) but the simulator doesn't have any known limitations. If you run on a VM or real device, do you see the same behavior?

[2021-03-02 00:01] marianan commented on #304
Hi @maroonmoon13 , thanks for reporting this issue. At this point, we don't have a clear indication what is causing the curl errors you are observing. It would be helpful if you can try a vanilla single module and follow the instructions in the readme for this repo. If the issue disappears in this setup then we need to start adding more layers to see what triggers the issue first. Let us know how

[2021-03-02 12:24] XavierGeerinck commented on #309
Hi @marianan thanks a lot for your response! I am currently assuming it is the SDK seeing that the event is simply not arriving, it seems that the SDK team is investigating this.  Would it make sense to utilize that issue as the main one?

[2021-03-02 14:41] marianan commented on #309
Hi @XavierGeerinck thanks for confirming. I am closing this issue here. Once the python SDK issue is resolved, feel free to file a new issue here if you experience the same symptoms.

[2021-03-02 14:41] #309 closed

[2021-03-05 13:44] oottka opened #310 "IpcMode is not handled correctly"
When using a deployment manifest that specifies an IpcMode in hostconfig that accesses shared memory in another container, `iotedgehubdev start` fails due to a nonexistent container error.

Relevant version numbers:
[code]

with docker-compose versions prior to 1.27.0 a different error message is thrown.

## Sample deployment manifest

[code]

Note the IpcMode set in lvaEdge and rtpsim. The actual

[2021-03-08 22:12] marianan commented on #310
@oottka thanks for reporting this issue. Could you clarify why is ipc needed instead of defining routes between modules?

[2021-03-09 09:20] oottka commented on #310
In this case we are using Azure LVA on IoT Edge, and have an inferencing module that uses the [gRPC interface and shared memory to share frames](https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/grpc-extension-protocol#reading-content-from-shared-memory) (using the second option, "When communicating with a gRPC server running in another IoT Edge module"). This is the

[2021-03-10 10:40] perttvil opened #311 "Python Module Client initialization throws exception (CERTIFICATE_VERIFY_FAILED)"
I am developing Azure Iot Edge modules with VsCode with its extensions and iotedgehubdev with MacOs.

All Node.js modules work fine, when running them with VsCode's run in '`Build and Run Iot Edge Solution in Simulator`' command.

But when I create a Python module with VsCode wizard, IoTHubModuleClient initialization doesn't work at all. And I cannot run it at all.

Following code throws an except

[2021-03-10 20:19] mhshami01 commented on #311
@perttvil - Thank you for your input. We have a couple of questions:
- does the module fail on the device also or only in the simulator?
- does the issue show up with a vanilla module?

[2021-03-11 06:06] perttvil commented on #311
Just tested and the module works just fine on real device without any changes.

Yes it does. Issue does not go away, even though I deleted all unnecessary parts away.

[2021-03-12 22:17] mhshami01 commented on #311
Hello @perttvil,

Using the steps from [Use Visual Studio Code to develop and debug modules for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-2018-06), I was able to use IoTEdgeHubDev to debug a Python module. The article covers several options for languages and module types.

Sincerely,
--Haitham

[2021-03-13 07:24] perttvil commented on #311
Were you able to get the code in this issue to execute properly? Github repo link above.

Just wondering why doesnt it work for me...

[2021-03-15 23:21] konichi3 commented on #304
Closing the issue as there is no update. Feel free to re-open or create a new issue.

[2021-03-15 23:56] konichi3 commented on #310
@oottka

Thank you for reporting the issue. The issue is now in our backlog. We will circle back when we have an update.

If this is blocking you, please let us know the business impact and justification.

[2021-03-16 00:01] konichi3 commented on #303
@rodavrow

Unfortunately, we are unable to root cause the issue at this time. Would whitelist be a permanent workaround that you can use or is this blocking?

[2021-03-16 04:57] perttvil commented on #311
Yes, I am able to do that also. But that is not the problem I am talking about.

Problem is that Visual Studio Code `Build and Run Iot Edge Solution in Simulator` does not work when Python module in involved. It works for me with NodeJs and C# modules. But not for Python.

And python fails to get ModuleClient because of certificate validation errors like I mentioned in the initial post in this thr

[2021-03-16 10:00] oottka commented on #310
Thanks! There is a workaround available for this issue in the meantime: it is possible to use an external templating tool to change `container:` to `service:` when using iotedgehubdev.

[2021-03-16 14:08] marianan commented on #311
@perttvil thanks for confirming that the default Python module that is generated from VS Code runs fine in the simulator. Your deployment manifest appears identical to the default - what are the changes in your module that trigger the issue?

A couple more things to try:
1. which version of python are running with? The simulator runs on 2.7 up to 3.8
2. delete all docker containers and restart doc

[2021-03-17 09:57] perttvil commented on #311
Only debugging single module works, but that is not my problem.

**Can you confirm to me that you can actually execute Python module `As a Solution` with the simulator?**

I think in that case PythonModule creates the ModuleClient to a different endpoint or in different way, and connection certificate fails when running as a Solution. (It works when running a single Module).

In Visual Code the ac

[2021-03-17 11:05] perttvil commented on #311
And I changed my laptop python3 in $PATH from 3.9 to 3.8, which did not help, since iotedgehubdev python script seems to select python 3.7 by default, which I also have installed.

[2021-03-17 12:45] maroonmoon13 commented on #304
Hello,
I would like to reopen the issue as it is not resolved. I tried with a vanilla single module on a ubuntu virtualbox VM and faced the same issue.
Regards

[2021-03-19 16:08] konichi3 commented on #304
Reopening the issue. This issue is now in our backlog. We will respond when we have an update

[2021-03-25 16:41] smcd253 commented on #303
@rodavrow we have addressed this issue and have updated the problematic dependencies and our pypi package.

https://pypi.org/project/iotedgehubdev/
`pip install iotedgehubdev==0.14.5`

Please rerun your tests with this new package and let us know if you are still having any issues.

[2021-03-28 21:03] stewartadam opened #323 "Document why installation cannot occur to user directory"
Global installations are generally bad practice and have a high probability of conflicting with other software. The README mentions:

Please elaborate on the reasons for this - iotedgehubdev should support user installation, or better yet, a more sandboxed environments like a pyenv/virtualenv.

[2021-03-29 13:37] martin-weber commented on #274
I have the same now with Visual Studio 2019\iotedgehubdev\v0.14.5\iotedgehubdev.exe.
As soon as I want to run or update iotedgehubdev I get this defender message:
![image](https://user-images.githubusercontent.com/14039505/112844839-752f4300-90a4-11eb-886d-181b7aa3a649.png)

[2021-03-29 13:47] marianan commented on #274
@martin-weber thanks for reporting this issue, we are investigating.

[2021-03-29 13:57] marianan commented on #274
@martin-weber - could you please retry, we updated iotedgehubdev to 0.14.6.

[2021-03-29 13:59] martin-weber commented on #274
After updating the iotedghubdev using `pip install --upgrade iotedgehubdev` to  v0.14.6
The Azure IoT Edge tools were complaining that I have to update. I did this _Tools > Azure IoT Edge Tools > Update IoT Edge Simulator_ which told me that already the newest version is installed.
Then I was able to run the solution again without any issues. Visual Studio now takes the v0.14.6 instead of 0.14.5:

[2021-03-29 14:01] marianan commented on #274
Great to hear it works now and thanks for the quick confirmation. We are investigating the root cause.

[2021-03-29 18:33] marianan commented on #311
I am confirming that Python modules execute successfully in both single module and solution modes. Could you execute these steps and share your findings:
1. Close all instances of VSCode and open a new one
2. Restart docker and make sure no containers are running
3. Create a new Python module without code or config modifications
4. Right click on deployment.template.json and select "Build and run

[2021-03-29 21:36] smcd253 commented on #323
Hi @stewartadam ,

Thanks for your question.

Can you further explain your scenario and what benefit you would gain from being able to install by user?

As for virtual environments, this is quite possible (it's how I always run this tool so I can have multiple versions on the same machine). However, please keep in mind that you can only run one instance of iotedgehubdev at a time.

[2021-03-29 22:21] stewartadam commented on #323
Thanks @smcd253! Per our IM conversation - virtualenvs/pyenvs can make it a lot easier to reduce the potential for conflicts with for developers working across multiple OSs and different Python projects. Glad to hear that localized installation is supported - we'll work towards giving this a try and seeing how VS Code reacts.

[2021-03-30 05:54] perttvil commented on #311
Still does not work. Same certificate validation error and python module (SampleModule) keeps restarting since it fails to create a ModuleClient.

I do not have a cert_helper container running, nor can I find an image, which has a name anything like that. So I guess I don't have any cert helper running locally.

Here is the list of containers (docker ps -a):
`
CONTAINER ID   IMAGE

[2021-03-30 12:12] HenrikDamslund commented on #303
This is still an issue with 0.14.5 - Micsoft Defender detected iotedgehubdev.exe as 'Trojan:Win32/Zpevdo.B'

[2021-03-30 16:38] smcd253 commented on #323
@stewartadam thanks for your feedback!
We'll look into updating the documentation.

[2021-04-01 07:23] Rumpkie commented on #311
@perttvil, I have the same issue on my mac as well and I have not been able to resolve the issue either.

I tried clearing the device certificates and using iotedgehubdev generatedeviceca to no effect.

I have verified that the certificate that is generated is the one being used inside the container.

It also works fine for the nodejs module and temperature sensor module too.

I should add if it h

[2021-04-01 16:29] Rumpkie commented on #311
I also want to add that I have tested this against
azure-iot-device version 2.0.0 through 2.5.1

[2021-04-02 10:58] derSchtefan opened #326 "desired.properties: arrays are not supported in Simulator but on IoT Hub"
In our system, we use a group of desired properties that are arrays with configuration items. It works very well in IoT hub, but when we try to test the system in the simulator it fails with this message:

`
WARNING: Fail to update XXMODULENAMEXX twin. Code:400. Detail:{"Message":"ErrorCode:ArgumentInvalid;Provided json is not a valid 'tags' or 'properties' object: arrays are not supported.","Exce

[2021-04-02 11:29] BogdanGeorge commented on #274
Hello, I have the same problem. I've updated using `pip install --upgrade iotedgehubdev` to v0.14.6. Then I updated my VS 2019 Iot Edge Hub Tools extensions to v0.14.6 but i still get the same error from Windows Defender **Tojan:Win32/Zpevdo.B**. Any other suggestions ?

[2021-04-02 18:03] smcd253 commented on #274
Hi All,

We have been in contact with the Windows Defender team, and we have worked out a way to trust-list the iotedgehub dev binary "iotedgehubdev.exe." The Windows Defender team has confirmed there is no inherent issue with the binary.

Please follow these steps to update your local trust list:

Open command prompt as administrator
[code]

Alternatively, the latest definition is available for d

[2021-04-02 21:04] smcd253 commented on #326
Hi @derSchtefan,

Thanks for bringing this up. Support for arrays in desired properties sounds like an appropriate enhancement. We will put this in our backlog and will respond her when we address it.

[2021-04-05 09:59] BogdanGeorge commented on #274
Thanks @smcd253 . It works now.

[2021-04-12 21:21] konichi3 commented on #326
Hi @derSchtefan

We would like to explore options for our potential solutions. Would you be able to share your scenario on using Array data type in desired properties? This would help us prioritize the issue accordingly.

thank you in advance.

[2021-04-13 16:38] smcd253 commented on #274
Closing as there has been a week of no activity. If anyone is still experiencing this issue, please reopen and outline your repro steps.

[2021-04-13 16:38] #274 closed

[2021-04-13 16:40] smcd253 commented on #303
Hi @HenrikDamslund ,
Please follow the steps outlined here: https://github.com/Azure/iotedgehubdev/issues/274#issuecomment-812644362 to refresh Defender.

[2021-04-14 12:27] derSchtefan commented on #326
Whenever we use a list of items for a configuration element, that entry must be an array.
An example from our current project: We are reading measurements from multiple devices via the Microsoft OPC Publisher module, and process them in our edge module. We tell the edge module via its desired properties which elements belong into which category. So the config looks like

[code]

One will use an ar

[2021-04-14 21:39] stewartadam opened #331 "iotedgehubdev should be a self-contained docker container"
iotedgehubdev currently requires the user to install Python no matter their development language, which can cause unnecessary friction; particularly since iotedgehubdev requires a specific, older version of Python (<3.8).

Many OSs package more recent versions of Python, requiring the user to take special action to parallel install or downgrade their installations. On Windows, the Python.org homep

[2021-04-15 06:23] syedhassaanahmed opened #332 "Support for Python 3.9"
Current latest version of iotedgehubdev (v0.14.6) doesn't support Python 3.9. When users with Python 3.9 perform pip install, v0.11.1 gets installed because of the way `setup.py` was defined in [v0.11.1](https://pypi.org/project/iotedgehubdev/0.11.1/).

Are there specific reasons for excluding Python 3.9?

[2021-04-15 20:03] stewartadam commented on #331
@mhshami01 can you share why this was closed?

[2021-04-15 22:06] mhshami01 commented on #332
Hello @syedhassaanahmed. Thank you for your input. We have it in our backlog to support Python 3.9.

[2021-04-19 16:48] stewartadam commented on #331
Same issue with docker-compose dependencies, the Desktop app gets updated and breaks dependencies in PyPI:
[code]

[2021-04-19 18:48] konichi3 commented on #326
@derSchtefan Thank you. We will investigate further and get back to you when we have an update.

thanks!

[2021-04-23 19:27] smcd253 commented on #326
Hi @derSchtefan, can you please post your deployment file and steps to reproduce this issue?

I have tried adding property arrays to a deployment file to both the edgeAgent module as well as an example module "filtermodule" and have had no issues.

Here is my deployment file:
[code]

I have developed and run the simulator using the [pypi package](https://pypi.org/project/iotedgedev/) built from ht

[2021-04-27 23:05] Rumpkie commented on #311
Still have not been able to resolve this issue.

[2021-04-27 23:31] marianan commented on #311
This may be Mac specific issue. We will test on Mac and confirm if we can repro locally.

[2021-05-01 12:54] derSchtefan commented on #326
Yes, @konichi3  and @smcd253, attached a file to reproduce it.
We are using VS Code with the latest extension (`vsciot-vscode.azure-iot-edge-1.24.0`) running the latest iotedgehubdev (0.14.6).

Looking at your example I can see that **you tested it with "properties.desired" at the wrong location**. The desired properites of each module are defined top level, not inside the desired properties of th

[2021-05-07 11:38] XavierGeerinck commented on #149
Ah this did it! Commands i ran:

[code]

Would love to see the install guidelines updated if deemed a correct solution :) too much time wasted settings this up honestly.

[2021-05-12 06:03] derSchtefan commented on #331
It might also have prevented the recent issues with iotedgehubdev being a false positive detection as being a virus/worm that have plagued some corporate devs lately. (We ran into this issue a month ago)

[2021-05-20 20:26] glneo commented on #287
Looks like it is getting jammed up running the regex here:
https://github.com/Azure/iotedgehubdev/blob/f5fbdc3a390a9b010e1e2320ff828d0945fdde3a/iotedgehubdev/compose_parser.py#L190
As I only have the simple path name cases, my temp workaround is to replace that line with:

`match = None`

causing it to always fallback to the simple token based parsing below.

The proper fix would be to find a bett

[2021-05-21 16:46] mhshami01 commented on #304
Hello @maroonmoon13, in one of your earlier messages you state that you are using VS code remote extension...

We expect the simulator is to be running locally, also curl requests should be sent on the same machine where the simulator is running.

Please provide the following information:
- Machine and OS where VS Code is running.
- Machine and OS where the simulator is running, if different from

[2021-05-25 07:20] marianan commented on #287
Thank you @glneo the bug is in our backlog.

[2021-05-25 07:34] marianan commented on #303
Closing this issue as the symptoms no longer manifest.

[2021-05-25 07:34] #303 closed

[2021-05-28 22:51] marianan commented on #304
No activity in the last 7 days so closing the issue. Please let us know if the symptoms persist.

[2021-05-28 22:51] #304 closed

[2021-06-17 07:47] Suizi11 commented on #287
@marianan - do you've a rough estimation when this issue will be solved or when somebody starts working on it respectively?

Thanks a lot.

[2021-08-05 16:16] cindydeng1998 commented on #287
Hi @Suizi11, thank you for sharing your findings with us. We have done some investigation on this issue and have decided to leave the regex parsing @glneo mentioned above as is.

This is because we need to have a thorough way of parsing binds for everyone that uses our tool, even though it is the source of a longer runtime and high CPU usage. The regex pattern here ([iotedgehubdev regex](https://g

[2021-08-22 21:53] grickettsnz opened #345 "Support for local MQTT broker (preview)"
Currently, when attempting to enable the experimental local MQTT broker I'm seeing issues with edgeHub not able to start and complaining about missing environment variables. I got about 6 deep trying to supply these env vars manually before giving up on that route.

Repro steps:
[code]

Example deployment manifest:
[code]

Example error:
[code]

Removing the 'experimentalFeatures__mqttBrokerEnable

[2021-08-23 12:41] bet2019 opened #346 "ERROR: the JSON object must be str, bytes or bytearray, not dict"
1. i used the command "iotedgehubdev start -d ", but facing below issue.
![Capture](https://user-images.githubusercontent.com/57758819/130448546-0c9903dc-eecb-40b4-aefa-9a81d08a8033.JPG)

2. when >iotedgehubdev start -i single model, how can i debug my code. i sent messages by curl, where i can see the result?

[2021-08-23 12:53] bet2019 opened #347 "no edge model in VS"
i justed followed the steps in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11, but why no edge model there??
![Capture](https://user-images.githubusercontent.com/57758819/130450611-47abae19-4db1-443d-9093-55e03668127b.JPG)

[2021-08-23 18:58] marianan commented on #347
Hello @bet2019 , thanks for reporting this issue. Could you please try to add a new module as described in step 4 https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11#create-an-azure-iot-edge-project. Does the module project show up?

[2021-08-23 21:16] marianan commented on #346
Hello @bet2019, when using the -d option, please point to the deployment manifest file and not the template. The deployment manifest file is generated after you build your module and is typically located in the config folder, for example config/deployment.amd64.json.
To debug your IoT Edge module using the simulator, please use the steps at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vi

[2021-08-23 22:50] cindydeng1998 commented on #345
Hello @grickettsnz, thank you for reporting this issue. We will investigate and let you know once we have an update

[2021-08-24 03:11] bet2019 commented on #347
@marianan
thanks for reply, tried to add a new module, no module project show up there. see my screen shot.
![no-edge-module](https://user-images.githubusercontent.com/57758819/130549814-e0b2ac03-53ae-4927-bbc5-56096f4f5b58.gif)

[2021-08-24 04:15] bet2019 commented on #346
@marianan
thank you! that's right, i need point to deployment manifest in config folder.
For start and debug single module natively. [https://github.com/Azure/iotedgehubdev#3-start-and-debug-a-single-module-natively](url)
step 2. Output the module credential environment variables. iotedgehubdev modulecred.
I exported the credentials, but do not know where to use it.

[2021-08-24 05:41] marianan commented on #347
That is unexpected, I cannot reproduce locally. Could you share more details about which version of Windows are you running on as well as the exact version of your Visual Studio? We will investigate further.

[2021-08-24 05:46] marianan commented on #346
This is all wrapped up VS/VSCode extension so you don't need to worry about the modulcred step. Is your breakpoint hit when you follow the steps in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11#build-and-debug-a-single-module?

[2021-08-24 06:06] bet2019 commented on #347
@marianan
Wwindows specifications:
Edition: Windows 10 Pro for Workstations
Version: 20H2
OS Build: 19042.1165
Experience: Windows Feature Experience Pack 120.2212.3530.0

VS: virtual studio community 2019

others: i have another pc (VPN connected), installed vs also, that vs works well.

[2021-08-24 06:36] bet2019 commented on #346
@marianan
thank you!
but, my teams facing this kind of issue. IOTEDGE_WORKLOADURI required. not know where missing configuration at all.
could you help what heppening? appreciate it.
![1](https://user-images.githubusercontent.com/57758819/130568017-f3a060e9-bd7d-49b2-b39f-7e09c5e5ae7b.png)
![2](https://user-images.githubusercontent.com/57758819/130568021-2f27f980-d6c7-4b7f-a694-111e223038c2.png)

[2021-08-24 17:36] marianan commented on #346
@bet2019 just to confirm are you able to build and debug a single Edge module in VS/VSCode as indicated in this walkthrough? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11#build-and-debug-a-single-module

I would like to make sure the original issue is resolved before looking into the workload uri one. Please file a new issue to tackle debu

[2021-08-24 17:38] marianan commented on #347
@bet2019 thanks for sharing these details. At this point we know that the issue is related tot he specific machine setup so we need to find out what makes this machine different than the one that works, so that we can investigate further.

For the PC that is working well, what version of Windows and VS is it running?

[2021-08-24 23:18] bet2019 commented on #346
For me, it is solved, close this one.

在 2021-08-25 01:36:42，"Mariana Mihova" ***@***.***> 写道：

@bet2019 just to confirm are you able to build and debug a single Edge module in VS/VSCode as indicated in this walkthrough? https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11#build-and-debug-a-single-module

I would like to make sure the original is

[2021-08-24 23:20] #346 closed

[2021-08-25 00:49] bet2019 commented on #347
information of PC that the VS works.

Windows specifications:
Edition: Windows 10 Enterprise
Version: 21H1
OS Build: 19043.1165
Experience: Windows Feature Experience Pack 120.2212.3530.0

VS: professional 2019 (3), Version 16.11.1

one more, for this working PC, I reinstalled the VS then it works for IoT Edge Module, not sure why. Could be the reason some IoT Edge Module templated not downloaded

[2021-08-31 18:55] davidguidali opened #348 "Please make sure you're using an Edge Device"
I get this error message when trying to build a new iot edge project.

![image](https://user-images.githubusercontent.com/61904428/131559813-967df4ce-7485-4dd6-a17a-eb3b61047801.png)

I have no clue where this is coming from, I can create a completely new project, setup the iotedgehubdev simulator but still the error occurs.
I am using the most recent version of Docker & the simulator..

[2021-08-31 19:13] davidguidali commented on #348
My fault, soon after writing this post I found out that i used the connection string of a "iot device" instead of a "iot edge device". Stupid me!

[2021-08-31 19:14] mhshami01 commented on #348
Hello @davidguidali,

Thank you for your interest in using the simulator. Please ensure that:
   - you have setup and IoT Hub and registered an IoT Edge Device (The first two steps of this [quick start using az cli](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart?view=iotedge-2018-06)
   - obtain the connection string to the registered edge device as shown in the quick start from the pr

[2021-08-31 19:14] #348 closed

[2021-09-02 18:05] marianan commented on #347
@bet2019 i am closing this issue as there is no activity in the last week. Please feel free to reactivate if you need any further assistance here.

[2021-09-02 18:05] #347 closed

[2021-09-14 12:29] GO3LIN opened #349 "Live reload for custom modules"
This is a feature request, it comes from a frustration when using iotedgehubdev: Every time a small change is made, in order to check/test that change, a container rebuild is made and all the services restart, which take quiet a lot of time (~1 or 2minutes).
This should be a matter of seconds in order to have a good developer experience, what are your thoughts about it ?

[2021-09-15 06:56] asergaz commented on #349
Related SO thread: https://stackoverflow.com/questions/68754246/azure-iot-edge-modules-development-autoreload

[2021-09-15 21:59] marianan commented on #349
@GO3LIN thanks for submitting this feature request. We don't have immediate plans for this work at this time but will evaluate and update the thread once we have more information to share.

[2021-10-26 13:14] XavierGeerinck opened #352 "Simulator not starting - Due to regex parsing issue in Bind?"
Hi All,

I am having an issue where the Simulator is not starting at all. When trying to triage this (is there any extensive docs on how to triage this more easily?) it appears that when I remove the "createOptions" entirely (which includes a bind) it starts up finally.

Looking in open PRs I found the following opened: #340 that might be a solution for this?

Currently blocked on an IoT Edge Solu

[2021-10-26 17:23] #352 closed, assigned to nobody

[2021-10-28 11:04] HajKasemIbrahim opened #354 "GetTwinAsync() are not supported in IoT edge Simulator v0.14.10"
GetTwinAsync() returns always Twin object with empty properties, all properties of my IoT edge module are null when I run my IoT edge device in Simulator, in my Linux server works everything fine. I should wait also about 20 seconds to get a response from GetTwinAync()

[2021-11-04 20:28] IGx89 opened #355 "Latest release considered unsafe by Microsoft Defender SmartScreen"
Trying to download the zip of the latest release (0.14.10) is blocked by Microsoft Defender SmartScreen:

![image](https://user-images.githubusercontent.com/282698/140414759-33f4fd62-7349-44db-9706-441932356aad.png)

A side effect is that the IoT Edge extension for VS Code, which downloads that zip file on Windows, hits the same issue and silently fails for us (due to a company security app that a

[2021-11-08 22:36] marianan commented on #355
Thanks @IGx89 for reporting this issue. We are investigating.

[2021-11-10 05:19] marianan commented on #355
@IGx89 - are you still experiencing the issue? Earlier in the week there was an outage in one of the MS Defender services that has been resolved. Please make sure to restart the device to ensure that no previous reputations are cached.

[2021-11-10 14:50] IGx89 commented on #355
It's half better now: Edge doesn't block the download, but our company's security tool (Palo Alto Cortex XDR) is still blocking the executable from running. Guessing there's nothing you can do/know about that tool?

[2021-11-10 21:25] IGx89 commented on #355
We ended up having to manually add the hash of the executable to Cortex's allow list -- that solved it.